[2014-08-15 14:03] yvaucher opened #5 "7.0 Travis fail - missing dependency 'document_page_approval'"
except_orm: (u'Error', u"You try to install module 'document_page_environmental_aspect' that depends on module 'document_page_approval'.\nBut the latter module is not available in your system.")

[2014-08-20 14:33] bwrsandman commented on #5
Fixed with #6

[2014-08-20 14:33] #5 closed, assigned to nobody

[2014-11-10 11:34] gborelli opened #12 "Missing 'knowledge' dependencies"
Some modules depend on document_page_approval.
It seems this dependency is not ported to Odoo v8 - https://github.com/OCA/knowledge

Did somebaody start the porting of knowledge packages?
Please, let me know how I can help

[2014-11-10 11:36] pedrobaeza commented on #12
There isn't any module yet ported to v8, so if you want, you can help with the migration task. It would be much appreciated.

Regards.

[2014-11-10 11:40] gborelli commented on #12
ok, thank you

I have started to port the necessary modules from 'knowledge' bundle, here - https://github.com/abstract-open-solutions/knowledge/tree/8.0-gborelli

[2014-11-10 11:42] pedrobaeza commented on #12
Please make a PR for each module here.

[2014-11-10 12:57] dreispt commented on #12
Pedro surely means to suggest making those PRs into the corresponding project https://github.com/OCA/knowledge .

[2014-11-10 12:58] dreispt opened #13 "Make branch 8.0 the default and remove `master`"

[2014-11-10 13:08] max3903 commented on #13
Done

[2014-11-10 13:08] #13 closed, assigned to nobody

[2014-11-10 13:19] pedrobaeza commented on #12
Sorry, I see wrong the project. Yeah, I mean there.

Thanks Daniel for the precission.

[2014-11-10 15:27] gborelli opened #15 "8.0 branch doesn't work with odoo 8.0"
I tried to use modules in 8.0 branch with Odoo v8.0 but it seems these modules don't work.

There are many wrong imports
- https://github.com/OCA/management-system/blob/8.0/mgmtsystem/mgmtsystem_system.py#L22
- https://github.com/OCA/management-system/blob/8.0/mgmtsystem_action/mgmtsystem_action.py#L22

There also are some reference to non-existent models, such as survey.type:
- https://github.com

[2014-11-10 15:33] dreispt commented on #15
The project is not yet migrated to 8.0.
Right now there shouldn't be any modules available to install in the 8.0 branch.

[2014-11-10 15:55] max3903 commented on #15
FYI
https://github.com/OpusVL/odoo-mgmtsystem
https://github.com/OpusVL/odoo-mgmtsystem/issues/17

[2014-11-10 16:17] dreispt commented on #15
Unfortunately that looks stale; I wouldn't wait on it.
And the proper way would be doing a steady stream of ported modules, proposed one by one.

[2014-11-12 18:17] dreispt commented on #15
Solved by #14

[2014-11-12 18:17] #15 closed, assigned to nobody

[2014-11-20 12:55] llacroix commented on #12
:+1:

[2014-11-20 14:35] dreispt commented on #12
Fixed by #21.

[2014-11-20 14:35] #12 closed, assigned to nobody

[2014-12-12 16:03] kfstar opened #36 "Print Verification List error"
Hi,

I work for a company who is currently evaluating Open ERP and we have installed the Management system on Open ERP Version 7.0-20140415-231321 on Windows.

The management module is very good and this will be an important part of the software for us.

I realise we do not have any support agreement however we have a problem with a part of the management system.

When we run the Print Verificatio

[2014-12-12 16:10] max3903 commented on #36
Workaround:
When you create your verification line, specify the procedure it is related to and you won't get this error message.

[2014-12-12 16:10] max3903 commented on #36
@llacroix Can you fix it please ?

[2014-12-12 17:29] llacroix commented on #36
I'll work on it

[2015-01-23 13:38] llacroix opened #41 "8.0 mgmtsystem claim"
Make sure that all the comments in the `mgmtsystem_claim.xml` file are needed or can be deleted completely as they might not be much relevant.

As I understand, most buttons can be replaced by the state bar on the top right of the screen. Buttons that handle/trigger workflows can be removed. Workflows can be handled easily with the state bar.

[2015-02-08 01:01] max3903 opened #43 "[7.0] mgmtsystem_security_event"
This module allows you to manage security events of your information security management system (ISMS) with:
- Security events
- Threat Scenario
- Threat Origins
- Security Measures
- Underlying and Essential Assets
# Dependencies
- information_security_manual
- document_page_work_instructions
- mgmtsystem_severity
- mgmtsystem_probability
# Menu
- Manuals
  - Manuals
  - Security Events
- Configu

[2015-02-08 01:04] max3903 opened #44 "[7.0] mgmtsystem_severity"
This module allow you to manage scale of severity used across different modules (health and safety, information security).
# Dependencies
- mgmtsystem
# Models

mgmtsystem.severity
- Name: char
- Value: integer
- Category: selection ('hazard', 'security')
# Menu

Menu item in Management System > Configuration > Severity
# Security
- MGMT User can read
- MGMT Manager can create, read, update and de

[2015-02-08 01:09] max3903 opened #45 "[7.0] mgmtsystem_probability"
This module allow you to manage scale of probability (or likelihood) used across different modules (health and safety, information security).
# Dependencies
- mgmtsystem
# Models

mgmtsystem.probability
- Name: char
- Value: integer
- Category: selection ('hazard', 'security')
# Menu

Menu item in Management System > Configuration > Probability
# Security
- MGMT User group can read
- MGMT Manager

[2015-02-10 15:27] llacroix commented on #43
Working on it

[2015-02-11 17:13] llacroix commented on #43
I believe the model `mgmtsystem.security.event.measure` should have a name attribute that could be generated automatically if necessary. As it is, there is no named defined and openerp automatically decide how it gets rendered in the list box.

[2015-02-11 17:19] max3903 commented on #43
@llacroix I just added the name fields for `mgmtsystem.security.event.measure` and `mgmtsystem.security.event.scenario` as concatenation of other fields.

[2015-02-11 17:24] llacroix commented on #43
ok

[2015-02-11 20:26] llacroix commented on #43
I'm unsure about two things:

What is supposed to be shown in the Manuals section "Security Events"?

The description of "mgmtsystem.security.event" is filtered with "document.page" with category "Security Events" Yet this category doesn't seem to exists.

[2015-02-11 22:22] max3903 commented on #43
@llacroix
- the list of mgmtsystem.security.event
- it needs to be created

[2015-02-12 08:19] llacroix commented on #43
Ok good

[2015-02-14 15:24] max3903 opened #49 "Migration to version 8.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-8
# Modules to migrate
- [x] document_page_environment_manual : #17
- [x] document_page_environmental_aspect : #52
- [x] document_page_health_safety_manual : #53
- [x] document_page_procedure : #35
- [x] document_page_quality_manual : #50
- [x] document_page_work_instructions : #26
- [x] information_security_manual : #18
- [

[2015-02-25 22:52] #45 closed, assigned to nobody

[2015-02-25 22:52] #44 closed, assigned to nobody

[2015-04-01 13:48] llacroix opened #65 "Update code for v8"
From the logs in runbot, I noticed that this module was trying to create an "ir_actions_server" object with some fields that don't exist anymore. By default, odoo only throw warnings and warnings might not have been interpreted as errors.

It should get fixed:

https://github.com/OCA/management-system/blob/8.0/mgmtsystem_action/mgmtsystem_action.xml#L99

Ir actions server doesn't seem to handle th

[2015-04-07 02:56] mmotahar opened #66 "Migration to version8 status"
Hi,

I am trying to evaluate the management system on version 8 however it seems that the migration task is work in progress.

May I know about the status of mgmtsystem health safety module whether it is production ready or still work in progress.

Thank you.

[2015-04-07 12:54] max3903 commented on #66
Status of the modules migration are listed here: #49

[2015-04-07 13:44] dreispt commented on #66
Answered - closing.

[2015-04-07 13:44] #66 closed, assigned to max3903

[2015-04-07 13:46] dreispt commented on #49
Maybe it's easier to follow on this page: https://github.com/OCA/management-system/milestones/8.0

[2015-04-07 21:01] dreispt commented on #36
Fix merged.

[2015-04-07 21:01] #36 closed, assigned to nobody

[2015-04-07 21:08] llacroix commented on #65
Fix merged

[2015-04-07 21:08] #65 closed, assigned to nobody

[2015-04-13 15:38] dreispt commented on #49
Right now the big bottleneck is on #25

[2015-05-07 21:54] max3903 opened #70 "Description field on probability and severity"
In mgmtsystem_probability
- [x] Add a text field 'Description' on the probability #75

In mgmtsystem_severity
- [x] Add a text field 'Description' on the severity #75

[2015-05-07 22:17] max3903 opened #71 "mgmtsystem_information_security"
# Information Security Management System

This module adds a new management system and installs all the applications required to deploy and manage your Information Security Management System (ISMS), compliant with ISO 27001 standard.
# Installation

Before installing the module, you need to define the scope of your system and drive a security analysis. Method like EBIOS (http://en.wikipedia.org/wi

[2015-05-26 15:34] #70 closed, assigned to nobody

[2015-05-26 18:37] bwrsandman opened #76 "Refactor mgmtsystem_action/mgmtsystem_action.py from a B on Code Climate"
https://codeclimate.com/github/OCA/management-system/mgmtsystem_action/mgmtsystem_action.py

[2015-05-29 18:49] #43 closed, assigned to nobody

[2015-05-29 20:27] bwrsandman commented on #49
`*_audittrail` modules could use auditlog

[2015-05-30 17:44] max3903 commented on #71
- [ ] On the Action form view, the controls field should be displayed only when the system is of type 'information_system'. I tried with `attrs="{'invisible':[('system_id.type','!=', 'information_security')]}"` but using `system_id.type` does not work.

[2015-06-24 22:06] pedrobaeza opened #80 "Host for quality_control_* modules"
Do you think we can host here this module: https://github.com/odoomrp/odoomrp-wip/tree/8.0/quality_control and related ones?

[2015-06-24 22:20] max3903 commented on #80
Ana and I discussed this at Odoo Experience and we decided to leave those module in OCA/manufacture:
https://github.com/odoomrp/odoomrp-wip/wiki/Migration-to-OCA

The integration will be done with crm.claim. There may be some overlapping with the current features of those modules. The idea is that crm.claim are the output of manufacture and the input of management systems. We agreed to work on the

[2015-07-02 22:40] pedrobaeza commented on #80
Checking the module _mgmtsystem_claim_, I see that it's only a bit of fields more over crm.claim object, so I see no problem to keep both models instead of making an effort to integrate questions and answers in claims. We already have a module that makes the integration between claims and failed inspections: https://github.com/odoomrp/odoomrp-wip/tree/8.0/quality_control_claim, with configuration

[2015-07-03 07:34] dreispt commented on #80
I agree that product quality can be a use case quite different from management systems, so it makes sense for it to go along manufacturing modules.

[2015-07-06 14:04] #80 closed, assigned to nobody

[2015-07-06 14:08] max3903 opened #81 "Audit report displays cancelled improvement opportunities"
# Versions

v7 and later
# Steps to reproduce
- Create an audit
- Within this audit, add an improvement opportunity
- Cancel the improvement opportunity
- Print the audit report
# Result

In the audit report, the improvement opportunity is displayed.
# Expected result

In the audit report, the improvement opportunity is NOT displayed.

[2015-07-29 14:11] max3903 opened #83 "Can't select a multi-company user in action"
There is an issue with multi-company users across the management system modules.
# Impacted versions

7.0
Not tested on 8.0
# Scope

Management system actions
Not tested on nonconformities, audits and reviews.
# Steps to reproduce
- Add the admin to the multi-company group
- Create company "Company 2"
- Create user "Demo2", authorize him access to companies "Your Company" and "Company 2" and set h

[2015-08-04 14:00] max3903 opened #84 "Kanban stages in nonconformities"
- [ ] **Non Conformities: replace workflows with Kanban Stages**. Include "notification to the responsible user when the action is open; send a reminder to the responsible user 10 days before the action deadline" ([discussion](https://github.com/OCA/management-system/pull/25#discussion_r30808061))

[2015-08-20 18:14] #83 closed, assigned to nobody

[2015-08-20 18:17] max3903 opened #86 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 3: ordinal not in range(128)"
# Impacted versions

7.0
# Steps to reproduce
- Create a nonconformity and fill in all the required form
- Click on "Send for analysis"
# Result

Error message:

[code]
# Expected result

The nonconformity moves on to the next stage in the workflow.

[2015-08-25 19:07] max3903 commented on #86
Fixed in #87

[2015-08-25 19:08] #86 closed, assigned to nobody

[2015-09-30 18:23] max3903 opened #90 "Migration to version 9"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Dependencies
- https://github.com/OCA/knowledge/issues/71
# Modules to migrate
- [ ] mgmtsystem
- [ ] document_page_environment_manual
- [ ] document_page_environmental_aspect
- [ ] document_page_health_safety_manual
- [ ] document_page_procedure
- [ ] document_page_quality_manual
- [ ] document_page_work_instructions

[2015-10-14 00:31] pedrobaeza opened #92 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Dependencies
- [x] https://github.com/OCA/knowledge/issues/72
# Modules to migrate
- [x] mgmtsystem + improvements (#110) by @naousse in #94
- [x] mgmtsystem_manuals by @naousse in #95
- Rename module to mgmtsystem_manual
- [x] document_page_work_instructions by @naousse in #98
- Rename module to document_page_work_ins

[2015-10-21 19:16] #90 closed, assigned to max3903

[2015-10-21 19:23] #41 closed, assigned to nobody

[2015-11-04 08:06] ingfred opened #103 "Why modules are in installable=False state ?"
Hello.
I would like to test some these modules.
But i can't install anything.
Should I change installable=False into True to make this possible.
If I do that, is there any consequences  ?
Thx

[2015-11-04 08:07] pedrobaeza commented on #103
Because they are still not migrated to v9. You can track the progress here: https://github.com/OCA/management-system/issues/92

[2015-11-04 08:07] #103 closed, assigned to nobody

[2015-11-04 10:13] ingfred commented on #103
Thank you for this answer.
Can I change installable=False into True if i want to test with the v8 for test.

[2015-11-04 10:16] ingfred commented on #103
Sorry.
I didn't git clone the good version.
Thx for all.

[2015-11-04 13:36] ingfred opened #104 "ValueError: Invalid field 'fold' in leaf "<osv.ExtendedLeaf: ('fold', '=', False) on mgmtsystem_action_stage (ctx: )>""
# Impacted versions

First test on v8
# Steps to reproduce

Go to Reporting > Management Systems
# Results

[code]
# Expected results

The dashboard displays data without errors.

[2015-11-04 15:06] max3903 commented on #104
@naousse can you look at this bug, write a test to catch it and fix it please?

[2015-11-06 11:48] dreispt commented on #92
Status update: no PR pending reviews, all are expecting action from the authors.

[2015-11-06 14:43] max3903 commented on #92
@dreispt There is one PR to review: https://github.com/OCA/knowledge/pull/75

[2015-11-06 15:59] #49 closed, assigned to max3903

[2015-11-06 16:20] max3903 opened #105 "[Roadmap] mgmtsystem_action"
# Todo
- [x] Add "Actions" menu item under "Management Systems / Reports"
- [x] Add Kanban View
- [x] Include notification to the responsible user when the action is open
- [x] Send a reminder to the responsible user 10 days before the action deadline" ([discussion](https://github.com/OCA/management-system/pull/25#discussion_r30808061))
# Kanban View

In the Kanban view:
- [x] Use color per type:

[2015-11-06 16:32] max3903 opened #106 "[Roadmap] mgmtsystem_nonconformity"
# Todo
- [x] Replace workflow with Kanban stages
- [x] Add "Nonconformities" menu item under "Management Systems / Reporting"
# Kanban View
- [x] Display the responsible user avatar
# Reporting

Use the pivot view to compute:
- Number of nonconformities
- Age (now - creation date)
- Number of days to analyse (analysis date - creation date)
- Number of days to plan (action plan date - analysis date

[2015-11-06 16:39] max3903 opened #107 "[Roadmap] mgmtsystem_audit"
# Todo
- [x] Add "Audits" menu item under "Management Systems / Reporting"
- [x] Hide cancelled improvements opportunities and nonconformities in the report
- [x] Convert verification list report to Qweb
- [x] Convert audit report to Qweb
# Reporting

Use the pivot view to compute:
- Number of audits
- Number of questions in the verification list
- Number of improvements opportunities
- Number of

[2015-11-06 17:01] #84 closed, assigned to nobody

[2015-11-06 17:01] max3903 commented on #84
Superseeded by #106

[2015-11-06 17:10] max3903 commented on #76
Superseeded in #105

[2015-11-06 17:10] #76 closed, assigned to nobody

[2015-11-06 17:12] max3903 commented on #81
Will be fixed in version 9.0: #107

[2015-11-06 17:12] #81 closed, assigned to nobody

[2015-11-07 23:54] dreispt commented on #107
For clearness, add the "roadmap" word to these Issues?

[2015-11-12 22:52] max3903 opened #110 "[Roadmap] mgmtsystem"
Configuration panel available in Management Systems > Configuration > Settings
# Settings

Management Systems
- [ ] Quality (ISO 9001)
- [ ] Environment (ISO 14001)
- [ ] Hygiene & Safety (OHSAS 18001)
- [ ] Information Security (ISO 27001)

Applications
- [ ] Actions (immediate, corrective, preventive) and improvement opportunities
- [ ] Nonconformities
- [ ] Claims
- [ ] Audits
- [ ] Top managem

[2015-11-26 14:31] dreispt opened #112 "[roadmap] Responsibility Matrix"
(description to be done)
Reference: https://en.wikipedia.org/wiki/Responsibility_assignment_matrix

[2015-12-07 14:18] max3903 commented on #105
#115

[2016-02-04 20:41] #110 closed, assigned to nobody

[2016-02-04 21:00] nhomar opened #118 "[QUESTION] Why is this system using deprecated document.page?"
Hello.

I appreciate to know before propose any technical improvement, why is this system using document.page instead new techniques "a page - a view" in order to use the full inline editor from the front end?.

It is a real question in order to no overthink things and simply propose improvements and no refactors.

Thanks a lot in advance.

Regards.

[2016-02-04 21:51] max3903 commented on #118
Management systems usually comes with documentation (procedures, work instructions) which provides confidential or at least strategic information only available to employees of the organization. You don't want to have that available on the Internet. This is the main reason why we decided to maintain and port the module.

If you have a better solution, I am listenning.

[2016-02-04 22:11] nhomar commented on #118
I understand perfectly.

Now since V.8.0 some things can be done (which is the reason they deprecate document.page).
1. Page == ir.ui.view object. (If they left just that then your technical reason is perfect. BUT now. we have...
2. Attribute groups on ir.ui.view object allow granularity on ACL to allow external users see a view, the view before did not has that.
   ![](https://www.evernote.com/l/

[2016-02-04 22:15] hbrunn commented on #118
for many of our customers, document_page is valuable because you get, well, a page without hassle. All the cool features of qweb editing rely on `website`, and those customers don't want this module installed.

[2016-02-04 22:19] nhomar commented on #118
@hbrunn agree. but you can have fancy web views without website also.

My customers think in that way also.

From the 4 points I mentioned before, the only one we will not be able to use is the "Fancy edition"

But we can have yet a page a few feature without a new model document.page.

Then we can have management system cool, without website, and  a glue module website_maangement in order to enab

[2016-02-04 22:33] max3903 commented on #118
@nhomar I'd like to see a demo then. but I tend to agree with @hbrunn, document_page is a great way to provide a basic documentation to a customer and allow him to maintain it.

One other argument is that depending on the type of management systems, the verification list of an audit or a nonconformity will be linked to different things:
- for quality, you need to relate with procedures
- for envir

[2016-02-04 22:43] hbrunn commented on #118
Is this really an either or? We should be able to adapt document_page to use current technologies. Then it would basically be a convenience wrapper around qweb views. The reason it works as it does currently is that it was ported to 8.0 as it was, but of course, there's nothing that holds us back to qwebify (if that's a word) it. Just a matter of resources. Well spent, in this case, as I think.

[2016-02-05 00:02] nhomar commented on #118
@hbrunn COOL That's was the reason of my question.

what you answered on your last comment was:

 because of time or because a technical decision completely supported?.

I mean Yes, what it is now is GOOD but we can convert it in PERFECT and the reasons you mentioned clarify so much better how can I help to achieve that.

I prefer use directly the views correctly, but use document.page as a wrappe

[2016-02-05 00:06] nhomar opened #119 "[DOC] Link to slideshare is broken."
http://www.slideshare.net/max3903/iso-anmanagement-systemswithopenerpena

Which is declared on the README is broken.

[2016-02-05 00:09] max3903 commented on #119
Fixed.

[2016-02-05 00:09] #119 closed, assigned to nobody

[2016-02-05 01:12] nhomar opened #120 "[ERROR] A traceback is being shown when go to manuals and procedures in runbot."
Hello.

Just open Runbot and go to menus on the image.

![](https://www.evernote.com/l/AJ6hVdi-jPtDHJkIp_ze4A-wMdAvmHy3OjYB/image.png)

[2016-02-05 01:16] nhomar commented on #120
It is happening in hazards also.

![](https://www.evernote.com/l/AJ7Zs2aC7-VOobG9gBvMrAKjnTa9-56ncJgB/image.png)

[2016-02-05 05:48] hbrunn commented on #118
from my side, it's time and lack of funding: Just like that, email templates should be qweb views of course, but every time some technically savvy customer points that out, I happily quote the time I think it costs to re-implement it using state of the art stuff, and then, the issue magically becomes less important :-(

[2016-02-05 05:51] nhomar commented on #118
Yes @hbrunn I know the feeling... I will try to improve what I think need to be done, of course may be my customer will think it is not important wither and we use it as it Is , I just want to open the question to understand decisions behind the actual approach, that's it :-)

[2016-02-05 06:02] hbrunn commented on #118
when you're on it anyways, how about a module on top of document_page, that just replaces the content field by a reference to an autogenerated qweb view? Then you have what you want while keeping the dependency structure. ...And you'd make the world slightly better with it

[2016-02-05 06:24] nhomar commented on #118
2016-02-05 0:02 GMT-06:00 Holger Brunn notifications@github.com:

Yes I read your Idea, I think is good, I will think about it.... I had a
simplest approach in mind, but I will thinka and considere that option.

##

---

Saludos Cordiales

CEO at Vauxoo https://www.vauxoo.com Odoo's Gold Partner.

[image: --]
Nhomar Hernandez
[image: http://]about.me/nhomar
http://about.me/nhomar?promo=email_sig

[2016-02-05 14:39] max3903 commented on #120
@nhomar I am assuming you used version 8.

I didn't get the error message when accessing the procedures.

Regarding the hazards, you need to set the default formulae on the company to compute the risk. I would like to set a default value, but the data is loaded later so I changed to have the field required in the view (and not in the model) but I haven't found time to ask for the default value dur

[2016-02-05 21:04] max3903 commented on #118
@nhomar, @hbrunn I am not sure to follow you but if a user can attach and display an image to a document page, that would be nice.

@nhomar Can you move this discussion in OCA/knowledge so we can work on the specifications there?

[2016-02-05 21:59] nhomar commented on #118
2016-02-05 15:04 GMT-06:00 max3903 notifications@github.com:

Let me first move my side with the customer. Once I have the objective
clear  open a new issue and relate it here.

##

---

Saludos Cordiales

CEO at Vauxoo https://www.vauxoo.com Odoo's Gold Partner.

[image: --]
Nhomar Hernandez
[image: http://]about.me/nhomar
http://about.me/nhomar?promo=email_sig

[2016-02-10 17:13] #71 closed, assigned to max3903

[2016-02-12 22:42] #104 closed, assigned to max3903

[2016-02-16 00:36] max3903 opened #125 "Changes due to the new version of ISO 9001 (v2015)"
- [x] New structure for the manual (done in #99)
- [ ] Risk evaluation in the nonconformity process

[2016-02-16 00:38] max3903 commented on #125
This is just a quick analysis. Feel free to comment if you have made a deeper one.

[2016-02-19 14:26] max3903 opened #126 "ISO 13485:2016 - Medical devices"
2016 version:
http://www.iso.org/iso/home/store/catalogue_ics/catalogue_detail_ics.htm?csnumber=59752

Previous version (2003):
http://www.iso.org/iso/catalogue_detail?csnumber=36786

[2016-03-04 18:50] max3903 commented on #126
@OCA/vertical-medical-maintainers Just for your information.

[2016-03-07 11:02] dreispt commented on #126
Pinging the top contributors there: @lasley @echeverrifm @JonathanNEMRY @parthivgls @TheCloneMaster

[2016-03-07 12:29] TheCloneMaster commented on #126
Hi, did you notice it's status...
It says : *95.99, *
that means:
Withdrawal of International Standard

Regards,
Mario
El 7/3/2016 5:02, "Daniel Reis" notifications@github.com escribió:

[2016-03-07 14:08] lasley commented on #126
Any reason we aren't going for the newer ISO 13485:2016 instead?

[2016-03-07 21:21] max3903 commented on #126
@lasley It wasn't available when I created the issue. I updated the link in the description.

[2016-03-07 22:19] lasley commented on #126
Awesome! My team would love to assist in this project - we'll begin getting familiar with the standard :+1:

[2016-03-09 15:54] max3903 opened #127 "Migrate mgmtsystem_information_security to version 8"
Migrate mgmtsystem_information_security and its dependencies to version 8
- [ ] mgmtsystem_severity
- [ ] mgmtsystem_probability
- [ ] mgmtsystem_security_event
- [ ] mgmtsystem_information_security

[2016-03-09 17:08] max3903 opened #128 "OHSAS 18001 will be replaced by ISO 45001"
OHSAS 18001 will be replaced by ISO 45001, which will be published in October 2016:
http://www.iso.org/iso/iso45001

[2016-03-09 17:13] max3903 opened #129 "ISO/IEC 20000-1:2011 / ITIL"
https://docs.google.com/document/d/1Z6OJIs5FXMuqVeRm63TgXDW4bXh9z292qnDSV0hwUNM/edit?usp=sharing

[2016-03-25 22:47] max3903 commented on #105
In the Kanban view:

- [ ] Use color per type
- [ ] Display the responsible user avatar
- [ ] Display the deadline
- [ ] Display the number of messages

[2016-04-06 23:06] michaellihai opened #132 "Health & Safety management system documentation"
Has anyone written a detailed user guide that explains how to use all the functions in the Health & Safety Management System module?

module: mgmtsystem_health_safety
version: 8.0

[2016-04-07 00:32] max3903 commented on #132
Hello Michael,

I haven't heard of such documentation except the one in the module descriptions. I made some presentations about the use of actions, nonconformities, audits, etc but not specifically related to the H&S MS. The H&S modules are inspired from the ISOsystemplus free trial that I was able to evaluate couple years ago. Not much time has been spent on those modules mostly due to the lack

[2016-04-11 21:00] kris3324 opened #133 ""mgmtsystem.action.type_action" is not in the selection"
Hi all
I try to install v8 of management system but setup cannot create action type any idea
all the module setup is doing in the rules

module: mgmtsystem_action
version: 8.0

[2016-04-11 21:01] kris3324 commented on #133
[code]

[2016-04-11 21:06] kris3324 commented on #133
crm_claim   Installed    8.0.1.0
mgmtsystem    Installed   8.0.1.0

[2016-04-13 18:42] max3903 commented on #133
@kris3324 Can you trying updating to mgmtsystem_action version 8.0.1.2.0?

It is working on Runbot:
http://3142723-8-0-e53c4f.runbot2.odoo-community.org/web#id=1&view_type=form&model=mgmtsystem.action&menu_id=240&action=271

[2016-04-13 18:55] kris3324 commented on #133
Hi Max3903 this is this version i am tying to install

[2016-04-13 19:02] max3903 commented on #133
@kris3324 can you install the module **without** the demo data and create an action to check that immediate action is available in the list of response type?

[2016-04-13 20:36] kris3324 commented on #133
Sorry for my odoo level but i can"t uncheck demo data what is the procedure ?

[2016-04-13 21:16] max3903 commented on #133
Create a new database and make sure the box  is unchecked.

Le mer. 13 avr. 2016 16:36, Kris notifications@github.com a écrit :

[2016-04-14 12:43] kris3324 commented on #133
Hi Max, everything is ok now it was exactly this, without demo data no problems
you are the Best
Thanks a lot

[2016-04-14 17:46] kris3324 commented on #133
Sorry i do too fast,
in fact action module is installed correctly but:
in menu management system / action,  when i create a new action, in type field i can see immediate, corrective ;preventive , perform.
 if i select corrective or preventive record is ok, if i chose immediate or perform no posible to record
i have a error see below
The value "immediate" for the field "mgmtsystem.action.type_actio

[2016-04-30 15:55] kris3324 commented on #133
Hi Maxime
any issue ?
kindly regards

[2016-05-01 15:29] max3903 commented on #133
@kris3324 Can you check the content of `mgmtsystem_action/mgmtsystem_action.py` to make sure it includes:

[code]

https://github.com/OCA/management-system/blob/8.0/mgmtsystem_action/mgmtsystem_action.py#L38

[2016-05-04 18:45] kris3324 commented on #133
Dear Maxime
Yes it is included

[2016-05-04 19:13] kris3324 commented on #133
During creat action
fields  Type
with choice Corrective & Preventive it's OK
with choise Immediate or Improvement it'not ok

Odoo Warning

Valider l'erreur

The value "improvement" for the field "mgmtsystem.action.type_action" is not in the selection

Ok

mgmtsystem_action/mgmtsystem_action.py file have correct code what you mean

[2016-05-04 20:26] dreispt commented on #133
I'm not able to reproduce on Runbot.
Can you try there? https://runbot.odoo-community.org/runbot/repo/github-com-oca-management-system-128

I see a suspicious reference to `base_action_rule` in your traceback.
Are you using an clean database? Do you have any Automated Actions configured?

[2016-05-05 07:50] dreispt commented on #132
AFAICS no further action needed on this.

[2016-05-05 07:50] #132 closed, assigned to max3903

[2016-05-05 09:17] kris3324 commented on #133
i start with database without demo data
my management system is 8.0.1.0.0 version
my action module is 8.0.1.2.0 version
what you mean suspicious reference to base_action_rule
yes there is automated action
Nom de l'action
mgmtsystem.action.window
Objet
mgmtsystem.action
Objet source
Utilisation de l'action
Type d'action
ir.actions.act_window
Fenêtre cible
Fenêtre courante
Paramètres généraux Sécuri

[2016-05-18 11:40] igallart opened #135 "Fail in mgmtsystem_claim"
Hello, there is a error in Javascript with a action:

https://github.com/OCA/management-system/blob/8.0/mgmtsystem_claim/views/board_mgmtsystem_claim.xml

In a fresh installation (with data demo or no data demo), when is installed the module mgmtsystem_claim, after in Reporting>Management Systems show a error:

Odoo Client Error
Uncaught Error: % undefined as prefix
http://127.0.0.1:8069/web/js/we

[2016-05-19 16:03] lukvml commented on #92
Hello,

How can we help to speed up migration to 9.0?
Can we contribute by paying for migration?

[2016-05-21 15:08] max3903 commented on #92
@lukvml Please contact me privately: maxime DOT chambreuil AT gmail DOT com

[2016-05-25 08:08] dreispt commented on #135
Checked on Runbot,v8.0, and I confirm it.
The `%()` is supposed translate an XMLId into a database ID.
Probably the names used are not correct XML IDs.

[2016-05-25 08:10] dreispt commented on #135
@llacroix Do you have time to check?

[2016-05-25 08:21] llacroix commented on #135
Not much time, but the error is strange honestly. @dreispt if the xmlid was wrong, it should raise an error that the xmlid cannot be found or something like that. It shouldn't even get to the client. It seems more like the xmlid replacement is not happening at all.

I'd try to put that code into an `eval="[('stage.id', 'in', [ref('stage_draft')...])]"`

Chances are that it will work better that wa

[2016-05-25 08:22] dreispt commented on #135
@igallart Can you try a fix?

[2016-05-25 09:23] igallart commented on #135
OK, I try the solution of @llacroix and it works:

[2016-05-25 09:24] dreispt commented on #135
Can you submit a PR?

[2016-05-25 09:33] igallart commented on #135
Yes.
https://github.com/OCA/management-system/pull/136

[2016-05-25 16:33] dreispt commented on #135
Great! :tada:

[2016-05-26 14:38] kris3324 commented on #133
dear team
any feedback regarding this problem
do i need to delete automated action
kindly regards

[2016-05-26 15:32] max3903 commented on #133
@kris3324 I ran out of idea and I can't reproduce it. The values of the selection seem to be available in the view but not on the object...

Can you provide more information on your system:
- OS? Linux distribution? Version?
- Python version?
- PostgreSQL version?
- Are you using Odoo from Odoo SA (https://github.com/odoo/odoo) or OCB from OCA (http://github.com/oca/ocb)?

[2016-05-27 14:50] yastri opened #137 "Error Create : mgmtsystem_claim & mgmtsystem_action"
Hi,

I've noticed there's an error for mgmtsystem_action & mgmtsystem_claim when I installed RMA Claim module. (odoo version 8.0)
When I did Create "action" or "claim", there's pop up windows with this message

[code]

this is the error log file

[code]

and

[code]

If I remove RMA Claim module, the button will work fine.

thanks.

[2016-05-29 03:04] yastri commented on #137
I've just solved the problem.

There's need extension view that have created by claim type by RMA Claim Module.

[code]

[2016-05-30 01:01] max3903 commented on #137
@yastri I am glad you found the solution. Shall we close the issue?

[2016-05-30 01:05] yastri commented on #137
Okay thanks
On May 30, 2016 8:01 AM, "Maxime Chambreuil" notifications@github.com
wrote:

[2016-05-30 07:35] #137 closed, assigned to max3903

[2016-06-02 06:34] #135 closed, assigned to nobody

[2016-06-06 19:57] max3903 opened #138 "[9.0] mgmtsystem_action : use mail tracking and subtypes"
- [ ] Custom emails should be replaced by Mail Tracking features and Subtypes, like in Project Tasks and Project Issues

[2016-06-07 09:18] omerfarooX commented on #92
Hello, Is this module available for Odoo 9?

[2016-06-07 10:03] omerfarooX opened #139 "No documentation for installation"
Hello Everyone.
I have an odoo 9 enterprise edition and i would like to install all these modules or atleast the document_page_quality_manual module. I tried uploading it to the addons folder and then also updated the modules list but i still dont see it anywhere. Any help regarding this issue would be great :)

[2016-06-07 12:10] max3903 commented on #92
@omer414 Can you be more specific? The modules with a checkmark are migrated, the ones with a link to a PR are in progress, all the others are waiting for some love to be migrated.

[2016-06-07 13:56] max3903 commented on #139
@omer414 Do you have any filter on the module list? Have you tried the same process with another module? Does it work?

You can also use the module from Apps:
https://www.odoo.com/apps/modules/9.0/document_page_quality_manual/

or Wheelhouse:
http://wheelhouse.odoo-community.org/

[2016-06-07 15:07] omerfarooX commented on #139
Thanks @max3903 for your response. Actually i am searching these modules under apps. Because i think this is where all apps and modules are kept in v9 (and i have tried without any filters). I did try adding enterprise addons with the same method but they were in separate directories, but they did work. Thanks for the wheelhouse link, will definitely check it out.

So let me explain the process i

[2016-06-07 15:21] max3903 commented on #139
I think you need to restart Odoo.

[2016-06-09 06:57] omerfarooX commented on #139
Thanks max, found it :)

[2016-06-09 12:23] max3903 commented on #139
@omer414 Great! Can you close the issue please?

[2016-06-10 21:46] omerfarooX commented on #139
Sure, thanks

[2016-06-10 21:46] #139 closed, assigned to max3903

[2016-06-23 14:24] dreispt commented on #138
I can work on a PR for this, as soon as the code on #115 stabilises.

[2016-07-22 19:38] naousse commented on #107
@max3903
Please maxime, where is the difference between date and creation date

[2016-07-22 19:41] max3903 commented on #107
@naousse On July 22nd, you create an audit and schedule it on August 1st.

Creation date: July 22nd
Date: August 1st

[2016-07-29 07:27] dreispt opened #151 "[Blueprint] Implements Audit Verification Lists as Surveys"
- Keep existing VLs for backward compatibility
- Delegate the VL definiton and filling to the Survey objects

[2016-08-05 14:41] max3903 opened #154 "[9.0] Move and rename mgmtsystem_kpi"
# kpi
- [x] Move mgmtsystem_kpi in https://github.com/OCA/server-tools
- [x] Rename it `kpi`
- [x] Add a menu item here:
- Dashboards
  - Dashboards
    - Dashboards
    - KPI
# mgmtsystem_kpi

See #92

[2016-08-05 14:43] max3903 commented on #154
ping @OCA/tools-maintainers

[2016-08-05 14:47] dreispt commented on #154
:+1:

[2016-08-09 15:09] max3903 commented on #154
@dreispt Any suggestion for the place of the menu item? I am thinking under the Dashboard app.

I think we should also keep mgmtsystem_kpi to add a menu item under Management System > Reports.

[2016-08-09 20:45] dreispt commented on #154
Dashboard sounds good. Yes, mgmtsystem_kpi can be kept as a minimal module, with a dependency on kpi and that extra menu. It's also good to have visibility on the kpi feature inside the mgmtsystem repo.

[2016-08-10 19:35] djsftree opened #155 "Odoo V10 MRP/PLM and Management System"
Hi,

I've been reviewing the video at https://www.youtube.com/watch?v=9Glhyc9NffM regarding the new MRP/PLM and Quality system coming in V10.

How will the OCA Management System integrate with that do you think?  Will they be complimentary?

[2016-08-11 01:18] max3903 commented on #154
@naousse I just updated the #92 to add the menu item `KPI` under `Reports`.

For the module `kpi`, we need to add a menu item here:
- Dashboards
  - Dashboards
    - Dashboards
    - KPI

Thanks!

[2016-08-11 06:52] dreispt commented on #155
Conceptualy, Management Systems and (Operational) Quality Control are different but complementary areas.
I would say that they can be integrated, but it depends on what feature will be available on Community edition.
Personally, my expectations are that, unless stated otherwise, all new features are on the Enterprise eduition only.

[2016-08-17 21:39] #105 closed, assigned to nobody

[2016-08-17 21:39] #106 closed, assigned to nobody

[2016-08-17 21:40] #107 closed, assigned to nobody

[2016-08-17 21:42] max3903 commented on #133
No answer. Closing.

[2016-08-17 21:42] #133 closed, assigned to max3903

[2016-09-07 16:31] max3903 commented on #154
@naousse Please review https://github.com/naousse/management-system/pull/14

[2016-10-04 12:05] nhomar commented on #118
I used the way it is working now, I will left this closed as documentation only.

[2016-10-04 12:09] #118 closed, assigned to max3903

[2016-10-06 12:57] pedrobaeza opened #159 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

# Modules to migrate

- [x] Depends on https://github.com/OCA/knowledge/issues/105

## Quality
- [x] mgmtsystem by @eugen-don in #166
- [x] mgmtsystem_manual by @eugen-don in #167
- [x] document_page_procedure by @eugen-don in #174
- [x] document_page_quality_manual by @eugen-don in #175
- [x] document_page_work_instru

[2016-10-13 14:16] CasVissers-360ERP opened #160 "Traceback in mgmtsystem_nonconformity"
Hello,

I get an error while installing the module mgmtsystem_nonconformity:

ValueError: External ID not found in the system: mgmtsystem_nonconformity.stage_draft

Thank in advance for any help.
Cas

[2016-10-13 14:42] max3903 commented on #160
Hello Cas,

Thank you for reporting the issue. Can you please mention the Odoo version you are using?

[2016-10-13 14:43] CasVissers-360ERP commented on #160
Hi Max,

The modules are used on Odoo 9.0.

[2016-10-13 15:13] max3903 commented on #160
@CasVissers I just got the latest version of the module and was able to install it with demo data. Can you make sure you are using the latest version?

[2016-10-13 15:13] #120 closed, assigned to max3903

[2016-10-13 15:15] #155 closed, assigned to nobody

[2016-10-14 07:08] CasVissers-360ERP commented on #160
Hi Max, I have a new traceback on a clean database:

2016-10-14 06:12:12,204 7580 INFO ? werkzeug: 127.0.0.1 - - [14/Oct/2016 06:12:12] "POST /web/database/create HTTP/1.1" 500 -
2016-10-14 06:12:12,220 7580 ERROR ? werkzeug: Error on request:
Traceback (most recent call last):
  File "werkzeug\serving.py", line 177, in run_wsgi

  File "werkzeug\serving.py", line 165, in execute

  File "C:\Progr

[2016-10-14 14:45] max3903 commented on #160
@CasVissers Can you check at line 17 of C:\Program Files (x86)\Odoo 9.0-20160802\server\openerp\custom\mgmtsystem_nonconformity\models\mgmtsystem_nonconformity.py ?

That's where _default_stage is defined:
https://github.com/OCA/management-system/blob/9.0/mgmtsystem_nonconformity/models/mgmtsystem_nonconformity.py#L17

[2016-11-01 22:52] wagnerpereirasp commented on #129
Hello max3903, I'd like to help on developing this functionality. I'm familiar with Odoo development and the new API, however I'm not very experienced.
Do you already have a data model planned or do you have a copy of the ISO/IEC 20000-1:2011 I can access ?

[2016-11-01 22:53] wagnerpereirasp commented on #127
Hello max3903, I also want to participate on this migration.

[2016-11-01 22:59] max3903 commented on #129
Hello @wagnerpereirasp,

The standard can be bought on the ISO website: http://iso.org and once bought, it cannot be shared.

I don't have it myself and there is no data model planned yet.

Do you have an idea of what features are missing in Odoo to support the SMS activities?
I am guessing:
- we need to determine the structure of the documentation: document pages or a specific object
- we need to

[2016-11-01 23:00] max3903 commented on #127
@wagnerpereirasp To version 8? I think @naousse is working on it on version 9. See #92

[2016-11-01 23:02] wagnerpereirasp commented on #129
I saw its price and its above my current financial capability right now. I'll try to get it and will let you know once I do. Thanks.

[2016-11-02 10:46] wagnerpereirasp commented on #129
About the data module I wish I had the ISO definition to help me review what misses, we need to use as much current models Odoo already have so we'll need a way to turn the either product or asset model into a service CMDB, I think asset is the best qualified to do so, however we should have a way to relate depending services by using parent and child services.

The issues model should be used for

[2016-11-03 22:46] max3903 commented on #129
@wagnerpereirasp I listed the requirements and various options we have for each.

At a higher level, we need to make a choice between:
1. Having predefined projects created by our modules: Incidents, Problems, Requests, Configuration, Changes.
   - When a new customer purchase a service, there is no new project created. We use the 5 predefined ones.
   - Everything is a task and his tasks are spre

[2016-11-04 09:11] elicoidal commented on #129
@max3903 some of the features can maybe be copied from the business requirement repo (task category for example).
Approaches are similar (requirement/project/tasks) and you might want to check synergies between the 2 set of modules

[2016-11-04 10:11] wagnerpereirasp commented on #129
@max3903, what if we use approach #3 with a slightly change to allow team load, we can create a support team model that could have assigned personal and be related to the task, this way we can create buttons for task team reassignment.

This would make easy to track each team load by using filters and time tracking on tasks, we just need to make sure these task/projects are not confused with the s

[2016-11-08 17:26] max3903 commented on #129
@wagnerpereirasp let's start with option 3 and use the category field of the business requirement project.

[2017-01-09 13:15] levkar opened #162 "Process"
ISO 9011:2015 introduces process approach.
http://www.iso.org/iso/iso9001_2015_process_approach.pdf

CMMI is also process based.
https://en.wikipedia.org/wiki/Process_area_(CMMI)

And following page advises a lean approach with processes and treat work instructions as procedure (as far as I understand)
http://www.pinnacleeg.com/iso/iso-9001-myth-5-process-vs-procedure/

Following page describes pr

[2017-01-09 14:53] levkar commented on #129
We are currently conducting projects similar to this scheme (#2). We use issues as customer contact point (incident management) and convert them to tasks as necessary (change, configuration, etc.). We prefer issues to crm claim to keep everything together within the project module.

[2017-01-11 01:21] max3903 commented on #162
Hello @levkar

Manuals, procedures (including processes), environmental aspects, hazards and security events are documented through document pages because it is easier to relate other objects (like nonconformity or verification line) to the same object.

What would be the fields of the process object you propose? How would you relate it with the others?

[2017-01-11 18:04] max3903 commented on #129
@levkar Thanks for your feedbacks. Is it a really problem to have 2 models (tasks and issues) for reporting purposes?

[2017-01-11 23:04] dreispt commented on #162
AFAICT Processes are currently supported (it couldn't ba differently since they are key to ISO9001).
Before any development is started, can you detail the design and features you would like to implement?

[2017-01-11 23:20] dreispt commented on #129
I advise for option 2.
Although sometimes it seems that we are duplicating things by using two different Models (Issues and Tasks), I have found useful to be able to decide for each Project to use only Issues, only Tasks, or both.

I started with the Issues + Tasks logic that @wagnerpereirasp describes, but found it could be confusing for end users, and later changed it to a simpler Tasks only app

[2017-01-12 10:58] levkar commented on #162
@max3903 : manuals are kept more compact with references to processes which are another kind of document page.  it is kind of sub-chapter of a manual. why i propose an entity named process, is that it is a  distinctive term in quality standarts. A process is something between manual and procedure. You can get more information from the links i provided.

@dreispt : processes are introduced in ISO 9

[2017-01-12 12:34] dreispt commented on #162
In the current design, we can reference "Procedures", that are expected to be `document.page` records.
In theory, a "Process" can have many "Procedures", and these in turn may have "Work Instructions".
All these are part of the "Quality Manual", so I can see that all these correspond to `document.page` records.

@max3903 Maybe we should have a "Type" field in `document.page` to identify the typo o

[2017-01-12 13:39] levkar commented on #162
Your conclusion is correct. Process is just another page like manuals and procedures. Only requirement is to have a "Process" menu like "Procedures" menu.

[2017-01-12 15:20] max3903 commented on #162
@levkar What do you think of a cmmi module providing the process category (as a document page category) and all the processes of the CMMI (as document pages)?

[2017-01-12 15:25] max3903 commented on #129
@dreispt Will do my best to provide by the end of the week.

[2017-01-13 21:23] max3903 commented on #129
@dreispt Done!

[2017-01-14 10:44] dreispt commented on #162
I can see that Document Pages already have a `type` selection field, with options "Content" and "Category".
I'm not sure what they are supposed to mean, and not sure if Management System should extend that list, or add a category field.
But this addition is generic to Management Systems, and not specific to CMMI.

[2017-01-14 16:16] max3903 commented on #162
:+1:

[2017-01-15 12:52] eugen-don opened #163 "Ported this to v10 and got workflows back from v8"
Hi guys i have ported the following apps to v10:
mgmtsystem, mgmtsystem_action, mgmtsystem_audit, mgmtsystem_hazard, mgmtsystem_nonconformity, mgmtsystem_review, mgmtsystem_survey.

My client had the following requirement:
The effectiveness review in the module mgmtsystem_nonconformity, needed to be packed into its own stage. And we decided to put the effectiveness review behind the progress stage

[2017-01-16 14:31] max3903 commented on #163
Thanks @eugen-don.

:+1: for the new stage

Can you please comment on the issue #159 and let us know the modules you migrated and their pull requests?

[2017-01-21 15:23] eugen-don commented on #159
@max3903
Sorry for the late reply, after reading the todo migration tutorial i realized few errors: In the modules mgmtsystem_action, mgmtsystem_nonconformity the mail sending method seems deprecated, i was trying to fix it but cant get it working.

Here are the ported modules so far from repo management-system:
mgmtsystem
mgmtsystem_action
mgmtsystem_audit
mgmtsystem_hazard
mgmtsystem_logistics
m

[2017-02-01 17:28] max3903 commented on #159
Thanks @eugen-don. Can you make pull requests for each of those modules?

[2017-02-02 10:41] eugen-don commented on #159
Hi, im stuck at getting the mail sending methods in mgmtsystem_action to
work correctly.

Ill be done by the end of tomorrow and make a pr.

[2017-02-03 15:03] ngrandjean commented on #92
Hello,

Module mgmtsystem_hazard_risk is not in the list. Is it given up ?

[2017-02-03 15:48] max3903 commented on #92
Hello @ngrandjean, I just added it to the list.

[2017-02-06 17:47] DinoJuric commented on #129
Hi everyone,

I'm a newbie in regard to Odoo, but I'm a certified ISO 20000 Implementer and this subject is familiar to me. I have some experience with IBM Service Desk ( Maximo) and how it implements ITSM/ITIL in regard to workflows and processes. I also have a lot of (un)official documentation on this subject.

My question is - do you need still some help with this subject?

Honestly, I'm still

[2017-02-06 22:44] dreispt commented on #129
Welcome @DinoJuric, I would love to help bring your idea forward. I've been playing with Service Management topics in the last years, and I'm sure we could build a solid solution with Odoo.

The standard Prokect and Issues apps already provide the basic elements.
The https://github.com/OCA/project provides additional building blocks for a Service Management solution. Have a look at these presentat

[2017-02-07 17:21] DinoJuric commented on #129
Thank you @dreispt for your Welcome Message and suggestions.

I'll dive right into the material you provided.
But I can already see that I need a little time to understand the Philosophy behind the Project module.

I'm aware that there is some kind of workflow engine available within Odoo,
Could someone point me the right direction where I can find more technical information?

I agree that I shoul

[2017-02-07 18:00] DinoJuric commented on #129
Ups, I forgot something :)

I want to explain why I mentioned FitSM as a first "Milestone" towards a ISO 20000 certification.
It's compatible to ITIL and ISO/IEC 20000-1:2011 and the following two documents can help clarify a lot.

[FitSM_Guide_Achieving_compliance_with_ISO_IEC_20000-1.pdf](https://github.com/OCA/management-system/files/758525/FitSM_Guide_Achieving_compliance_with_ISO_IEC_20000-1.

[2017-02-07 22:32] dreispt commented on #129
Great! I think we can use this Issue for the discussion, and open new Issues for specific topics when we feel the need for that.

Regarding scope and requirements, maybe you could edit and expand Maxime's Google doc. See the link at the top.

Starting with a birds eye holistic view is a good thing.
When implementing we will split the features into smaller work units, implemented by a "module". Don

[2017-02-10 14:42] levkar commented on #129
Dino thanks for the introducing FitSM! I am also working on this issue and reorganizing our company to meet the standards. I will be following the discussion and contribute.

[2017-02-13 18:06] DinoJuric commented on #129
Hi everyone,

sorry for not replying right away, I had some other professional priorities that needed my full attention.

@levkar , you're welcome. I don't know how far you already got with your project, but I'm sure that FitSM can help you and your company. I hope you have stakeholders that are aware of the subject at least at the ITIL Foundation level.

@dreispt At this moment I consider myself

[2017-02-13 23:39] dreispt commented on #129
You can go two ways: create an integration with an existing project, such as CMDBuild, or implement the features directly on Odoo. If you are a CMDBuild export, the former can make sense. I personally prefer the later, unless there are some important feature that are hard to implement with Odoo.

Also, I've been editing and extending the Google doc linked at the top of this issue. I've been primar

[2017-02-16 20:11] DinoJuric commented on #129
@dreispt Unfortunately, I don't know enough about the internals of Odoo and about CMDBuild even less in order to make a competent suggestion what would be the best solution on the technical side.

@All What I do know is - we need a system to handle Configuration Items and CMDBuild shows how it can be handled (as a possible reference).
How it can be used for our needs is a possible subject for disc

[2017-02-16 22:14] DinoJuric commented on #129
In general, yes.

No one is forcing us to do that.
Neither is it an imperative, but on the long run...
IMHO it could be a Game Changer

But as anything else, we need a consensus about what are our priorities.
We don't have to dive in right away ;) Let the Idea mature until it makes sense to all of us
I hope you agree...

[2017-02-17 08:07] levkar commented on #129
Here, the scope is mostly the operation part of ITIL. As you climb up the tree, scope becomes ITIL as a whole. If you climb even higher then it becomes all quality systems as a whole.

We were comparing local Quality Management solutions with Odoo Management System and we come to a conclusion that QM a big and deep vertical with lots of know-how. Unless we have a broader point of view (like yours)

[2017-02-17 11:57] DinoJuric commented on #129
@levkar You are absolutely correct. Once you start to climb up the tree it's hard to take account for all Branches you will reach. I've been there ;)

There was a time when ISO9001 was introduced, when you could get the certificate relatively easy - by limiting the scope and by keeping the extra paperwork low...

Today it's totally different.
Modern Auditors take their job very serious - and by de

[2017-02-17 12:49] DinoJuric commented on #129
I don't know if you will find this site [www.itskeptic.org](http://www.itskeptic.org) useful, but I think there are lot of blog entries that can help taking a view at the ITSM subject from a different angle...

Edit:
I was thinking a lot about what kind of documentation I could provide in order to look at some IT reference models and that there is no sharing restriction.
I went through all my reso

[2017-02-25 18:01] DinoJuric commented on #129
Hi Everyone,

within my last postings I provided you a lot of information that really needs time to get processed. I know, I've been there. I hope you found ITUP as a useful resource.

This post will be a more practical one.

I would like to present you a Vision how we could solve the complete quality management question within a holistic approach without reinventing wheels and supporting existing

[2017-02-27 11:58] levkar commented on #129
From what i understood from your long post, the very first thing to do is to build the CIM for CMDB. I checked CIM schemas of DMTF and it was very crowded :) Are we supposed to implement all of those?

[2017-02-27 13:39] DinoJuric commented on #129
yeap... it was a really long post. Sorry for that.
I know such posts can be anoying...

It's up to us what we are going to do.
Honestly, the most important part is our motivation.
If we have it, then the "how" becomes less important as long as we achieve our goals as we want them.
If we are going towards ITIL...we have to find a way how to define our CMDB what ever the solution may be.
Well, we ca

[2017-02-28 10:57] dreispt commented on #129
Nice work, there's a lot to chew on ther @DinoJuric.
In my experience motivation fades away quickly if results don't appear.
We should have a sound reference framework, but we need to come down to earth quickly and pick a subset of the problem and get actual work done on it.

I would like to start work on the Service Desk topic.
IMO this should start with the Service catalogue, and then with the S

[2017-02-28 11:53] DinoJuric commented on #129
Honestly, back in the days I needed almost 2 years to become confident with the subject...
Everything depends how much real life experience as a IT Guy you have working with people (offering a service)
But it was a great help for me that I had "a Pain" I had to solve as a IT Manager that kept me motivated.
The more you know what "customers" are demanding, the more you understand the "why's" within

[2017-02-28 15:19] dreispt commented on #129
I still don't get the full picture there, but the "list of features that the Service Desk should have in an Ideal World" sounds great.

I plan an implementation based on "Project Issues" and "Project Tasks".
In principle "Issues" would correspond to Requests/Incidents, and "Tasks" to Work Orders.
We would support, but not rely on standard "Projects".

Instead, we would add "Service Teams", that ha

[2017-02-28 17:36] DinoJuric commented on #129
Any specific pointers on that?

Actually I have...
This is from the IBM knowledge center and should be used as a reference to get a insight how IBM control desk (maximo) is working. I think that is a good starting point to get an Idea...
[Maximov7datamodels.zip](https://github.com/OCA/management-system/files/807601/Maximov7datamodels.zip)

My only concern is that I have to check the copyright stat

[2017-02-28 18:49] dreispt commented on #129
I started writing the specs for the Service Management app in a section of the document at the top of this Issue: see https://docs.google.com/document/d/1Z6OJIs5FXMuqVeRm63TgXDW4bXh9z292qnDSV0hwUNM/edit#heading=h.r6kek4hn2b1

[2017-03-11 14:32] eugen-don commented on #163
@max3903
Sorry for the wait, i got ill and wasnt able to work for a while...
heres the pull 1:
https://github.com/OCA/management-system/pull/165

pull 2 with rest of repo will ready in few days.

[2017-03-11 17:22] DinoJuric commented on #129
Hi Everyone,

Unfortunately I don't have much spare time these days so that I'm late finishing the "check list" for the "Service Desk" I promised.

Until then, I adopted for you a ISO20000 GAP Analysis I personally use for the last few years...
I mentioned earlier that achieving ISO20000 is literally painful ;) and here you have the proof why :)
[GAP Analysis ISO 20000.xlsx](https://github.com/OCA

[2017-03-11 22:41] antibios commented on #129
@max3903 I wonder if it's not wise to not try and fit this into the existing project.task project.issue space and look at ISO20000 as a completely new paradigm starting with the base units of Events, Incidents, Problems and Change requests.  It would certainly mean that it would lean less on the existing odoo infrastructure, but given all the information that @DinoJuric has provided, it looks much

[2017-03-12 09:54] dreispt commented on #129
@antibios Using existing Tasks and Issues will allow to leverage features added to those models, such as timesheets and materials spent, or SLAs (already implemented for Tasks).

[2017-03-12 10:01] dreispt commented on #129
@DinoJuric Good resource. From my PoV we should start with the 6.1 section.

[2017-03-12 18:44] DinoJuric commented on #129
@antibios you got it right by pointing out that Events, Incidents, Problems and Change requests as BASE UNITS.
In fact - The Event is in the Beginning of ALL processes. We always need a "trigger" to decide if we have a "Incident" or a "Problem" that requires a Change or we decide to leave it the Way it is (but with a documented explanation)
This is true regardless if you are dealing with ISO 20000

[2017-03-13 09:39] dreispt commented on #129
The place to start is to define the "Service Portfolio" tree and the "Configuration Items" tree.
The design should include how these are expected to be used in "Service Events" (requests, Incidents, ...), since this is relevant for the overall design.
We can do that in Maxime's [document](https://docs.google.com/document/d/1Z6OJIs5FXMuqVeRm63TgXDW4bXh9z292qnDSV0hwUNM/edit?usp=sharing).

[2017-03-13 16:14] #163 closed, assigned to nobody

[2017-03-13 16:14] #162 closed, assigned to max3903

[2017-03-13 16:15] #160 closed, assigned to max3903

[2017-03-17 14:44] eugen-don commented on #159
@pedrobaeza and @max3903
HI Guys, as you know im currently porting mgmtsystem_nonconformity to V 10.0
At this moment im updating my PRs in order to meet all of the OCA guidelines and conventions.

While reviewing mgmtsystem_action and mgmtsystem_nonconformity i discovered one of my commented code blocks where i replaced the method for getting the default stage for new actions and nonconformities w

[2017-03-18 13:54] pedrobaeza commented on #159
I think the best is to make the PR and comment there instead of polluting this issues that is intended to coordinate migration efforts. I'm only involved in this coordination, not the modules themselves anyway.

[2017-03-20 09:35] dreispt commented on #159
@eugen-don Please commit changes on only one module on each PR, otherwise the reviewing process is very unpractical. The build will be red from missing dependencies, but don't worry. As soon as the dependencies are merged, you can rebase it on latest 10.0 and it will (hopefully) go green.
Don't forget to list the PR dependencies on the PR's description - that will help reviewers on what to look at

[2017-03-20 12:35] eugen-don commented on #159
@dreispt Thanks, ill update the PRs descriptions today... but first ill update my commits in accordance to the input that @max3903 was kind enough to provide on my fork of this repo.

[2017-03-21 22:36] dreispt commented on #159
@eugen-don I'm not sure that your PRs are building on top on the port work already done for 9.0.
Each PR should handle one module, and you should extract the modules change history from 9.0, using the Git black magic explained at https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

You should then see in your PRs commits from other people, and that's expected.
Try it on a PR and

[2017-03-23 18:47] eugen-don commented on #159
@dreispt
thanks for the advice im on it.

[2017-03-23 18:48] eugen-don commented on #159
@max3903 @dreispt

Could we leave my PRs open and only merge them after i write ready to merge in the comments ? Im not completely done with refactoring and am not sure on how to proceed with  mgmtsystem_nonconformity...

[2017-03-23 18:52] max3903 commented on #159
@eugen-don Just rename the PR with "WIP" as a prefix. Remove it when ready.

[2017-03-23 18:54] eugen-don commented on #159
ok thanks

[2017-03-31 19:17] max3903 opened #179 "ISO 22000 FSMS / HACCP"
https://www.iso.org/iso-22000-food-safety-management.html

[2017-03-31 19:19] max3903 opened #180 "FSSC 22000"
http://www.fssc22000.com/

[2017-03-31 19:27] #154 closed, assigned to max3903

[2017-04-25 17:48] lasley opened #182 "[RFC] mgmtsystem_risk: Risk Management Platform"
This module will provide the base for a risk management platform to comply with things like NIST and HIPAA, among others. There's some proprietary software for this but I would prefer to be using something Open Source & integrated into Odoo.

The high level goal is to provide the ability to perform a risk evaluation and subsequently create necessary management plan and compliance reports. A lot of

[2017-04-25 22:32] max3903 commented on #182
@lasley I am not familiar with NIST but it looks like a methodology to perform the initial risk assessment and provide all the initial data to enter in the [mgmtsystem_information_security](https://github.com/naousse/management-system/blob/ee6f7d9d439b6493c222ed6368ad5c71a3cc67ba/mgmtsystem_information_security/README.rst) app and be compliant with ISO 27001 standard. Am I correct?

I went through

[2017-04-26 16:23] lasley commented on #182
@max3903 - Due to the copywritten nature of ISO I'm not totally familiar with that spec, but from the bit I see and the code in mgmtsystem_information_security I would say that you are completely correct.

We also use spreadsheets for our own Risk Assessments at the moment, but things need to get a little more streamlined because my customers are beginning to ask for this service. Realistically I

[2017-04-28 17:36] aferreroc opened #185 "[8.0] Doesn't display procedure list when creating audit > verification list."
When I'm creating audit, and filling verification list with questions and when I try to associate to a procedure, the list aren't displayed.
And when I create the procedure directly inside vertification list, the previously created procedures aren't displayed.

management-system branch 8.0

[2017-05-03 16:29] max3903 commented on #182
@lasley I've never heard of/searched for any risk assessment module.

mgmtsystem_security_event should provide the inventory you are looking for.

[2017-06-11 04:01] eugen-don commented on #185
@aferreroc

Please visit the runbot page and and login with creadentials admin admin

http://runbot.odoo-community.org/runbot/128/8.0

then go to Management System -> Audits and click on the Quality Audiot.
There in the Verification List tab you will find 3 verification lists of which 2 are Associated to Procedures.

![2017-06-11_05-55-55](https://user-images.githubusercontent.com/8398291/27008192

[2017-06-21 09:06] gva-acsone opened #187 "Possibility to define an immediate action before the complete analysis of the causes and the problems behind the non-conformity"
Hello,

For one of our customers, I am actually analyzing the possibility of defining an immediate action to immediately 'solve' the problem related to my non-conformity before proceeding to the whole analysis of the causes and triggers of my non-conformity.

According to me, this makes sense as in certain cases and industries (pharmaceutical industry for instance), as soon you notice the non-conf

[2017-06-21 13:07] max3903 commented on #187
@gva-acsone I have no problem moving the immediate action field on the analysis tab, if that's what you are asking for.

[2017-06-23 10:21] gva-acsone commented on #187
My idea was either to add:

- A new tab that is already visible at the draft 'stage'. That's what our customer prefers. This tab would only contain the 'immediate action' field, that I would then remove from the 'causes and analysis' tab (invisible at the 'draft' stage). As the NC is still in draft mode, I don't really fancy this option as actions will already been taken while the NC is not confir

[2017-06-23 12:51] max3903 commented on #187
@gva-acsone What about moving the immediate action field to the "Description" tab?

[2017-06-23 13:03] gva-acsone commented on #187
@max3903  Works for me too!

[2017-06-23 13:13] max3903 commented on #187
@gva-acsone Let's do that then. Thanks!

[2017-07-12 11:06] MakMas opened #195 "Nonconformities shifted to the right said"
Hello,

I have problem with module Nonconformities.
When I create new Nonconformities and write Description witch has more than 200 symbols than save, all  my Nonconformities shifted to the right said

![2017-07-12_13h06_39](https://user-images.githubusercontent.com/24442649/28114853-e6151cae-6702-11e7-96d5-6ec49ee850a4.png)

[2017-07-13 03:02] eugen-don commented on #195
thanks ill fix that asap

[2017-07-20 11:06] MasterT2008 opened #196 "How to install QMS on Synology NAS?"
I just installed Odoo 8 on my Synology nas, but the QMS part is not included.
I downloaded the Zip file for v 8.0.1.0.0 and copied to my nas.
Then I moved it into :/volume1/@appstore/Odoo8/addons
On first attempt, none of it was found in the module section.
After a complete reset of my nas, clean install of Odoo 8, Odoo will not start after moving the files and folders.

Any suggestions?

[2017-07-20 13:32] max3903 commented on #196
Hello @MasterT2008

Do you have all the dependencies in the zip file?
After moving the files, did you restart Odoo and update the list of modules?
Can you check the log and determine why Odoo is not starting?

[2017-07-21 05:41] MasterT2008 commented on #196
Hello @max3903

It was after the first installation I discovered about the dependencies.
knowledge
server-tools
web
Right?
But then each of these had their own dependencies which was not on the NAS and a my IT engineer helped me to look into this, but in the end, I bricked our Synology NAS and had to do a factory reset.
My IT engineer suggested to install Odoo 10 which is not currently available o

[2017-07-21 06:38] MasterT2008 commented on #196
Just to give it a try, I've successfully installed Odoo 10 on Windows 10 instead.
Just wonder where to place the QMS files.
Are there still dependencies?

[2017-07-21 14:40] max3903 commented on #196
@MasterT2008

If "Getting Odoo with the QMS is essensial for [y]our business.", a NAS is not the right solution. A server with resources matching your usage with Ubuntu would be my recommendation.

Yes, there are still dependencies.

[2017-07-24 06:29] MasterT2008 commented on #196
Hi Max,

I got a go to purchase a new server for testing Odoo instead :)
QMS modules now installs, however when I check any of the settings, I always get directed to the app store?

What am I doing wrong?

Thank you!

![screen1](https://user-images.githubusercontent.com/30310599/28510697-17e206ac-704a-11e7-8dc6-84bd4c6b33c7.jpg)
![screen2](https://user-images.githubusercontent.com/30310599/2851070

[2017-07-24 13:59] max3903 commented on #196
@MasterT2008

Not all the modules have been migrated to version 10. You can check the status here: #159

[2017-07-27 05:31] MasterT2008 commented on #196
@max3903
Thank you. I've managed to install Odoo 8 on a Win 10 computer and test it from there.
Also for some reason, I have to install most of the packages I need on the Synology NAS before I even try to add extra modules or else I get tons of php error messages.

I will take it further with our IT guy.

[2017-07-27 05:31] #196 closed, assigned to max3903

[2017-08-11 11:17] dreispt commented on #195
v10?

[2017-08-11 11:26] dreispt opened #198 "[RFC] Set and monitor management quality goals"
In my experience, Top Management is required to set the quality Goal for the year, and the Quality Manager should monitor the progress on those goals.

We already have KPIs, wish can provide measures for those goals, but I miss a place to define goals/objectives, assign measures to them (either computed KPIs or manually evaluated status).

I'm not going to work on this in the short run, but I leav

[2017-08-11 13:37] MakMas commented on #195
Yes

[2017-08-11 13:59] dreispt commented on #195
Just tried on [Runbot](https://runbot.odoo-community.org/runbot/repo/github-com-oca-management-system-128) (using both Firefox and Edge) and everything looks good:

![2017-08-11 14_56_18-mail - inbox - ibm notes](https://user-images.githubusercontent.com/1246629/29216121-72bcc5f8-7ea5-11e7-9954-fbfdcc31c737.png)

[2017-08-11 22:56] #187 closed, assigned to gva-acsone

[2017-10-03 14:48] pedrobaeza opened #200 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

Dependencies on Knowledge:
- [x] https://github.com/OCA/knowledge/issues/147

## Quality

- [x] document_page_procedure by @jalzaga - #214
- [x] document_page_quality_manual by @jalzaga - #216
- [x] document_page_work_instruction by @jalzaga - #213
- [x] mgmtsystem by @jalzaga - #210
- [x] mgmtsys

[2017-11-07 08:55] fdvarela opened #202 "It should be 'web.base.url' (in our systems the url link in the action email always points to localhost:8069"
https://github.com/OCA/management-system/blob/a4f747ff21abf092b776d6602543e06d40b198ba/mgmtsystem_action/mgmtsystem_action.py#L97

[2017-11-07 14:15] max3903 commented on #202
Hello @fdvarela

Can you provide your version of Odoo please?

Thanks!

[2017-11-07 14:34] fdvarela commented on #202
Version 8

[2017-11-07 16:06] fdvarela commented on #202
Also the URL generated is weird.
To workaround the issue I created web.base_url (with underscore) in the configuration and set it to our URL.
Now the URL in the email (the link to the action) is (HTML extract)

< a href = "https://erp.monteloeder.com/%5Bu'https://erp.monteloeder.com?db=monteloeder#model=mgmtsystem.action&amp;id=1'%5D" style="font-weight: bold;">.....< / a >

It seems the <a href t

[2018-01-14 16:54] ivantodorovich opened #204 "[9.0^][mgmtsystem] Enterprise-like icon"
I've made a few enterprise-like icons for this module.

Which one do you prefer?

**Please comment any suggestions regarding icon and/or color.**

1:
![icon_03](https://user-images.githubusercontent.com/1914185/34918529-9c222cb4-f932-11e7-8321-f2cd77f60323.png)

2:
![icon_04](https://user-images.githubusercontent.com/1914185/34918531-9ebd6bd2-f932-11e7-9355-4d66348aff23.png)

3:
![icon_03](https:/

[2018-01-14 17:16] max3903 commented on #204
@ivantodorovich 1

What about modifying the module icon to make it "enterprise-like"? The one with the 3 arrows in circle.

[2018-01-14 17:40] ivantodorovich commented on #204
Added item 4.
3 arrows in circle, as suggested by @max3903

[2018-01-15 14:25] max3903 commented on #204
:+1: Number 4 then :)

[2018-01-15 16:21] ivantodorovich commented on #204
@max3903 what do you think about adding a ✔️ inside of the circle? It's very common on quality managment system icons.

5:
![mgmt_03](https://user-images.githubusercontent.com/1914185/34952083-356b8004-f9f7-11e7-8bd3-b3a9c24c96b8.png)

[2018-01-15 16:37] max3903 commented on #204
@ivantodorovich Let's go with this one.

[2018-01-15 17:08] #204 closed, assigned to nobody

[2018-01-19 12:04] jalzaga commented on #200
Is there a PR for it? we´ll be ready to test as soon as it is available, please inform us if you are going to assign works to other contributors to participate.

[2018-01-19 14:51] max3903 commented on #200
@jalzaga There is no contributors to work on this yet. If you have resources available (human or financial), please let me know and we can coordinate the effort.

[2018-01-19 15:24] jalzaga commented on #200
We can dedicate some time from our resources, both human and financial, take us into account. @max3903

[2018-02-26 18:50] remz1337 opened #208 "[10.0] Unable to modify Action Stages"
Even with all the access rights, my user account is unable to modify the Action stage.
Only the admin account can, so I believe the security settings are tied to the admin group.

[2018-04-02 09:34] jalzaga commented on #200
Migration to version 11.0 @pedrobaeza @max3903  I'm migrating the following modules:
mgmtsystem
mgmtsystem_action
mgmtsystem_audit
mgmtsystem_manual
mgmtsystem_nonconformity
mgmtsystem_quality
mgmtsystem_review
mgmtsystem_survey
document_page_procedure
document_page_quality_manual
document_page_work_instruction

[2018-04-02 09:42] pedrobaeza commented on #200
OK, please one module per PR and preserve commit history.

[2018-04-10 14:17] #202 closed, assigned to max3903

[2018-04-12 15:04] MakMas commented on #195
Hello,

It's still not work correctly, please make Nonconformities for example with 200 letters. I logged to Runbot and create: nonconfomities "TEXT-size" please look it.
![2018-04-12_16h55_59](https://user-images.githubusercontent.com/24442649/38685962-828cbe82-3e73-11e8-8d7b-59f82b731ed0.png)

[2018-04-12 16:46] max3903 commented on #195
@MakMas Thanks for following up and sorry for the late reply. Please review the fix in #212.

[2018-04-13 07:45] MakMas commented on #195
Thanks, now everything works fine

[2018-04-13 13:06] max3903 commented on #195
@MakMas Can you leave your review on the pull request:
https://github.com/OCA/management-system/pull/212/files

![screenshot from 2018-04-13 08-05-40](https://user-images.githubusercontent.com/939952/38736409-caa85d26-3ee0-11e8-85ac-a8efd9127ecc.png)

[2018-04-13 13:25] #195 closed, assigned to nobody

[2018-04-20 11:16] kgoderis opened #223 "How to install when not all modules are at the same Odoo version level ?"
[This issue is not related to the code base itself, but I found no better place to post this]
[And I am by no means an python developer nor familiar with Odoo internals]

On https://www.odoo.com/apps/modules/browse?search=mgmtsystem the list of various ISO-modules indicate different Odoo versions being supported. I have a v10 test instance on which I would like to install the ISO 9K, 14K and 18K m

[2018-04-20 13:18] max3903 commented on #223
@kgoderis The v8 modules needs to be migrated to v10. Installing them as is on v10 will certainly fail.

You can look at #92 and #159 to know the state of the migration.

If you want to finance the migration of the remaining modules, please send a mail to contact@opensourceintegrators.com or contact any contributor of your choice (cf module description).

[2018-04-24 15:23] kgoderis opened #224 "[Quality][v10] When creating a new NonConformity, the linked Immediate action is not updated"
[This happens with a user that has maximum rights and all Management Systems options enabled in the user profile]

When creating a new NonConformity object and adding a new Immediate Action, then - in the resulting Action object - the table with "Related Nonconformities" is not populated.

When editing an Action, then the "Related Nonconformities" table can not be edited

[2018-04-24 15:28] kgoderis opened #225 "[Quality][v10] Unable to edit Action -> Stages"
In the Configuration settings of the Management System app editing of Action -> Stages is not enabled/impossible. Nonconformities -> Stages however can be edited/modified

[This happens with a user that has full authorisations in its profile]

[2018-04-24 17:38] kgoderis commented on #224
Ok - It was only after investigating the python code that is clear that a Nonconformity need to be put in the Action Plan stage in order to see the Actions tab

[2018-04-24 17:38] #224 closed, assigned to nobody

[2018-06-04 05:15] SalahAdDin commented on #200
Hi guys, how can i help you with this module? We need this implementation in my work.

[2018-06-04 13:11] max3903 commented on #200
@SalahAdDin Can you be more specific? Which module do you need?

[2018-06-04 14:41] SalahAdDin commented on #200
Knowledge base.

[2018-08-01 12:25] ngrandjean commented on #159
Hello everyone,
If no one is working on it I'll do the migration of the following modules:
- mgmtsystem_hazard
- mgmtsystem_hazard_risk

[2018-08-07 07:47] vprints opened #229 "Link in introduction does not work"
http://odoo-community.org/project/26 gives 404

[2018-09-27 00:12] OCA-git-bot opened #234 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] document_page_environment_manual - By @cubells - #504
- [x] document_page_environmental_aspect - By @max3903 - #526
- [x] document_page_procedure - @i-vyshnevska #250
- [x] document_page_quality_manual - By @i-vyshnevska - #253
- [x] document_page_work_instruction - @i-vyshnevska  #248
- [x]

[2018-09-29 17:16] ivantodorovich commented on #225
https://github.com/OCA/management-system/pull/236 (https://github.com/OCA/management-system/pull/236/commits/16dc5eabac8f8487be510e0748bceea7b659b1bf) should fix it for `11.0`

[2018-09-29 17:17] ivantodorovich commented on #208
https://github.com/OCA/management-system/pull/236 (https://github.com/OCA/management-system/pull/236/commits/16dc5eabac8f8487be510e0748bceea7b659b1bf) should fix it for `11.0`

[2018-10-02 00:08] ivantodorovich opened #237 "[IMP] Prevent the user from changing category of document_page_****"
As suggested by this comment https://github.com/OCA/management-system/pull/213#discussion_r221160810:

@etobella :

I think it would be better to manage it through an inherits or a boolean invisible field, I don't know what do you think, but this kind of management could give problems (users may change the category and the work instructions disappear...).
The change should be managed on a migratio

[2018-11-27 18:48] Alexandre-Bernardes opened #240 "document_page not found"
when I try to install **Management System - Manual (v11) and others** "_document_page_" is mandatory and not found.
The module has renamed?

[2018-11-27 20:22] pedrobaeza commented on #240
It's in https://github.com/OCA/knowledge/tree/11.0/document_page

[2018-11-27 20:22] #240 closed, assigned to nobody

[2019-02-28 15:22] diode-dynamics commented on #234
Hello. I paid a developer to complete migration of the QMS app package to v12. It's working great for our company.

I am not a strong user of github... how can I go about adding the files for distribution, and/or getting approval to do so?

[2019-02-28 15:30] pedrobaeza commented on #234
Well, you can attach here the file with the changes, but things like attribution and so on should be done properly, so there's work to do for being integrated here. Next time, you should demand your developer to do the whole cycle. That's also a way to assure the quality of the work due to the automated tests + the manual review by other experts.

[2019-02-28 15:34] diode-dynamics commented on #234
OK, just figured I would offer it. Again, I am not familiar with the development process here, but I hope it could be of use to someone. I will attach the files shortly.

[2019-03-01 13:46] jeremyisnotcool commented on #234
I'm very interested in this app for v12.  Any way I can help or test it?

[2019-03-01 14:09] diode-dynamics commented on #234
Here is the files for v12.
All packages must be installed, you must activate permissions (even for admin user), and log out and log back in to activate.
Everything is working for us with new installation, but <b>I cannot provide any warranty or support</b>. Please do not message me to ask for support. I do not know if database structure can be migrated from previous app versions, we have a new cle

[2019-03-01 15:13] pedrobaeza commented on #234
@pauljmccain thanks for this, although as said, unfortunately this is not usable as is, but it can serve as base.

[2019-03-05 07:56] gjduran opened #242 "General Question regarding development status"
Hi,
Recently I'm again investigating the functionality of the management system which I remembered from a long time ago (OpenERP 5??). I noticed quit some odd behaviours compared to what I remember from the early days. i.e. Provided templates doesn't seem to load. General settings does not respond to tick boxes. As suggested I'm looking at: http://3354556-9-0-6c3b5a.runbot2.odoo-community.org/web?

[2019-03-05 08:10] pedrobaeza commented on #242
What do you mean by disabled? Which version? Probably modules won't be migrated yet.

[2019-03-05 08:52] gjduran commented on #242
If you go to the settings page on the runbot instance and try to enable either of the disabled options nothing happens. Somehow templates won't load though they are part of version 11 tree.

[2019-03-05 08:53] pedrobaeza commented on #242
As said, they are not migrated. Follow them on https://github.com/OCA/management-system/issues/200

P.S.: I have never liked to put all the features in the main module if they are not migrated. cc @max3903

[2019-03-05 08:53] #242 closed, assigned to nobody

[2019-03-05 08:58] gjduran commented on #242
Thanks for responding so rapidly. I will follow on #200.

[2019-05-21 21:56] cladino2 opened #243 "Riesgoss"

[2019-06-04 15:57] simahawk commented on #234
AFAIS there's nothing reusable in this zip file, at least for `mgmtsystem`. It seems they took it from v10 BTW.

[2019-06-04 16:33] simahawk commented on #234
base module https://github.com/OCA/management-system/pull/244

[2019-06-05 05:56] simahawk commented on #234
mgmtsystem_action https://github.com/OCA/management-system/pull/245

[2019-06-05 07:33] i-vyshnevska commented on #234
document_page_work_instruction https://github.com/OCA/management-system/pull/248

[2019-06-05 07:39] jcoux commented on #234
mgmtsystem_survey https://github.com/OCA/management-system/pull/249

[2019-06-05 09:03] i-vyshnevska commented on #234
document_page_procedure https://github.com/OCA/management-system/pull/250

[2019-06-05 09:10] jcoux commented on #234
mgmtsystem_review https://github.com/OCA/management-system/pull/251

[2019-06-05 09:33] simahawk opened #252 "Backport fixes for mgmtsystem_action"
last commit here https://github.com/OCA/management-system/pull/245

https://github.com/OCA/management-system/pull/245/commits/2b9ac2971e538b6d91f11d884e8bcd0034156e2e

[2019-06-05 12:18] i-vyshnevska commented on #234
document_page_quality_manual - https://github.com/OCA/management-system/pull/253

[2019-08-09 07:29] akhasis commented on #200
Hi guys!

I'm using this management system in Odoo 8 and about to migrate to Odoo 11. I found this thread and find it very interesting, since I would love to be able to use the Management System after the migration. Is this project still active? Is there any release date for the modules?

Also, the KPI module sounds really useful to me.

Please note I realize you are working for free and I am in n

[2019-08-09 07:34] pedrobaeza commented on #200
This issue gathers the efforts, so if there is no PR, there are no plans for anybody to migrate them. Most of us have migrated directly to v12 and migrate modules to that version instead.

[2019-08-09 08:11] akhasis commented on #200
Thanks for your quick response :D

[2019-08-12 19:54] pedrobaeza commented on #234
Everything is migrated for now, so closing.

[2019-09-03 11:04] RishabhJadia opened #261 "res.config.setting.issue"
Unable to save the settings in this module. Whenever I am clicking on  any type of settings for management systems configuration, it is not getting saved.

![image](https://user-images.githubusercontent.com/26570284/64167887-f7736900-ce67-11e9-95db-db52730b633f.png)

[2019-09-03 12:22] max3903 commented on #261
Hello @RishabhJadia

Can you provide the version of Odoo you are using?

[2019-09-03 15:59] RishabhJadia commented on #261
Hello @max3903
Right Now I am running in runbot but want to migrate it to odoo12.

[2019-09-03 16:30] max3903 commented on #261
@RishabhJadia Some of the modules you selected have not been migrated to version 12 yet. That's why you get the current behavior.

If you have funding available, please contact@opensourceintegrators.com with the list of modules you need. Thank you.

[2019-09-03 16:41] RishabhJadia commented on #261
@max3903
But I am facing the same issue in odoo 10 runbot.

[2019-09-29 21:41] OCA-git-bot opened #262 "Migration to version 13.0"
# Todo

- How to: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0
- [PR List](https://github.com/OCA/management-system/pulls?q=is%3Apr+%5BMIG%5D+%5B13.0%5D+)

# Modules to migrate

- [x] document_page_procedure - By @ernestotejeda - #273
- [x] document_page_quality_manual - By @ernestotejeda - #274
- [x] document_page_work_instruction - By @ernestotejeda - #272
- [x] mgmtsys

[2019-10-17 19:48] mymage opened #263 "[RFC] Management System extension for production"
To continue the discussion started on the mailing list Contributors [https://odoo-community.org/groups/contributors-15/contributors-144648?mode=date&date_begin=2019-09-01&date_end=2019-10-01](https://odoo-community.org/groups/contributors-15/contributors-144648?mode=date&date_begin=2019-09-01&date_end=2019-10-01), we propose a module to add some features to fit some manufacturing needs.

Identific

[2019-10-17 20:14] max3903 commented on #263
Hello @mymage,

Thanks for the contributions and welcome to the OCA!

This looks like a big module with a lot of features and dependencies. To include it in the OCA and have a higher chance of adoption, we would need to make sure people can use only the features they need. We usually achieve this with one feature = one module, but we can also have one module with one setting per feature.

I don't

[2019-10-18 10:14] mymage commented on #263
@max3903 Thanks for the first suggestions. I think that for this module is better to ad the configuration option so I will work in that direction. In the mean time I will try it on runbot and for this I have to do a PR (right?): there are some specific things to follow to open a "test" PR?

[2019-10-18 11:49] ivantodorovich commented on #263
Hi @mymage !

This is very interesting :) Thanks !!

I think some of the features could be improvements done directly on the current modules.
For instance:

- Immediate Actions: replace the reference of a single Immediate action with one to multiple Immediate Actions

That's something I also thought about improving a while ago, and IMO this should be commited directly into mgmtsystem_nonconformity

[2019-10-18 13:01] max3903 commented on #263
@mymage

Yes!

Just start the title with WIP:

[2019-10-19 10:29] mymage commented on #263
@max3903 @ivantodorovich Following your suggestions I create the PR #264.
It is an initial version, I will notify you when ready to check.

[2019-10-19 10:32] mymage commented on #263
I separated the two modules and Product too.
Other changes will come soon ;-)

[2019-10-21 19:43] mymage commented on #263
@ivantodorovich

I'm not sure this is a good idea. As far I know of the quality systems in manufacture there are three types of NC: Internal, Partner, Customer. Each of them has different "consequences".
For example, we set a button to send the NC via email to the partner but these is useful only for Partner-Type NC. An extension for Customer-Type will be the creation of an 8D module.
We just add

[2019-10-27 16:31] mymage commented on #263
@max3903 @ivantodorovich Hi, I removed the reference to immediate actions (which I will present with another PR on the basic module), if something does not escape me, now everything should be right.

[2019-11-19 07:51] mymage commented on #263
@max3903 @ivantodorovich Hi, after talking with some italian's OCA members, it has point out that it will be better to split the main PR #264 in other two (as @max3903 suggested from the begin), one for the Actions e one for the NC and thus change the name of the modules in something more explicit than "extension". In the next days we will analyze the options and in case we will reorganize the PRs

[2019-11-27 15:53] AntoniRomera opened #276 "Duplicate column name with module mrp"
https://github.com/OCA/management-system/blob/63ab1aa60e296c80917a80a586fd4fd523f16c36/mgmtsystem/models/res_config.py#L13

https://github.com/odoo/odoo/blob/e94d093df86bab9a4450d1a9a0ef0acc22c8c3be/addons/mrp/models/res_config_settings.py#L17

    # Systems
    module_mgmtsystem_quality = fields.Boolean("Quality",
        help="Provide quality management tools.\n"
        "- This installs the mod

[2019-12-08 09:32] drajar opened #277 "cannot install nonconformity on 13: Unknow field res.users.manager_user_id"
2019-12-08 09:05:18,721 92124 INFO odoo odoo.modules.loading: loading mgmtsystem_nonconformity/views/mgmtsystem_nonconformity.xml
2019-12-08 09:05:18,957 92124 INFO odoo odoo.addons.base.models.ir_ui_view: Unknow field "res.users.manager_user_id" in domain of <field name="user_id"> "['|','|',('user_id','=',uid),('responsible_user_id','=',uid),('manager_user_id','=',uid)]"

View name: mgmtsystem.no

[2019-12-08 12:28] drajar opened #278 "cannot create action in 13.0"
[code]

[2019-12-08 14:03] pedrobaeza commented on #277
You haven't installed the module properly (maybe you are using the import module option, which is not valid). Any way, this is working, so closing.

[2019-12-08 14:03] #277 closed, assigned to nobody

[2019-12-08 14:04] pedrobaeza commented on #278
The field is marked as required:

https://github.com/OCA/management-system/blob/13.0/mgmtsystem_action/models/mgmtsystem_action.py#L39

so that's something normal and even more, it should appear as mandatory in the form as well.

Closing this as no valid issue.

[2019-12-08 14:04] #278 closed, assigned to nobody

[2019-12-08 15:23] drajar commented on #278
The problem is not that the field is mamdatory, but the sequence mgmtsystem.action that is created in current company on install. If you try to create action in another company, will fail.

[2019-12-08 15:26] drajar commented on #277
I installed management-system from sources. I cannot install nonconformity neither from settings checking nonconformity settings, neither from apps. The same error occurs.

[2019-12-08 15:48] pedrobaeza commented on #278
Yeah, that's something expected, as you have to either remove the company from the provided sequence or create a new sequence with the same code (duplicating the other) and changing company.

[2019-12-08 16:05] pedrobaeza commented on #277
You can check in https://runbot.odoo-community.org/runbot/128/13.0 that the module gets installed without problems.

[2019-12-31 07:48] SerkanKorkusuz commented on #262
Is there any obvious deadline for the modules 'mgmtsystem_audit' and 'mgmtsystem_hazard' ? Or any progress completed?

[2019-12-31 12:08] pedrobaeza commented on #262
No if there's no contributor migrating it, which seems the case.

[2020-01-15 15:03] #223 closed, assigned to max3903

[2020-01-31 13:19] ludolelarge opened #285 "inherit mgmtsystem_action by adding many2many field "purchase_order_ids""
**Model**

# -*- coding: utf-8 -*-

from odoo import fields,models

class MgmtsystemAction(models.Model):
    _name = 'mgmtsystem.action'
    _inherit = ['mgmtsystem.action']

    po_ids = fields.Many2many('purchase.order',
                              'mgmtsystem_action_po_order_rel',
                              'action_id',
                              'purchase_order_id',

[2020-01-31 13:43] ludolelarge commented on #262
I have migrate audit and hazard if you want

[2020-02-06 20:55] Tempronics1 commented on #261
I installed this module in Odoo V12 and I'm having the same issue of saving my settings. Is there any idea when all the features will be migrated?

[2020-02-06 21:08] max3903 commented on #261
@Tempronics1 You can check the status on this issue #234. If you have budget to speed up the migration, I suggest you contact a local OCA integrator https://odoo-community.org/integrators

[2020-02-07 10:32] mymage commented on #263
@max3903 Hi, I think that now the original module is well "exploded" on 7 PRs.
There is a problem with #282 on runbot that I don't understand.

[2020-02-26 14:06] flachica opened #291 "Migration mgmtsystem_audit to version 13.0"
I want to migrate the module to version 13

[2020-02-26 14:06] #291 closed, assigned to nobody

[2020-02-26 14:11] flachica commented on #262
I migrate mgmtsystem_audit module. #292

[2020-03-10 14:39] flachica commented on #200
I want to migrate mgmtsystem_hazard module.

[2020-03-10 16:19] flachica commented on #200
Sorry, I need mgmtsystem_hazard to v13 but exists a PR yet. Discard this, please.

[2020-03-10 16:21] flachica commented on #200
Sorry, I need mgmtsystem_hazard to v13 but exists a PR yet for v12. Discard this, please.

[2020-03-10 16:26] flachica commented on #262
I migrate mgmtsystem_hazard module. #293

[2020-03-10 16:29] max3903 commented on #262
@ludolelarge @flachica Let's not duplicate effort please. Can you work together to get the module migrated?

[2020-03-11 11:47] flachica commented on #262
One of our clients needs this module. I have published the PR as soon as I can in case it can be used. In this way I try to avoid duplicating efforts but meeting my goals.

[2020-03-11 11:57] flachica commented on #262
I migrate mgmtsystem_hazard_risk module from v10 #293

[2020-03-11 12:49] dreispt commented on #262
@flachica @ludolelarge Please create PRs for your WIP as soon as possible, and comment here. That way we reduce the risk of having someone else also start working on the same modules.

[2020-03-13 14:19] flachica commented on #262
I want to migrate document_page

[2020-03-13 14:32] max3903 commented on #262
@flachica It's already migrated in https://github.com/OCA/knowledge

[2020-03-13 19:39] flachica commented on #262
@max3903 The correct PR for mgmtsystem_hazard_risk is #295 but I don't know how to solve [this](https://travis-ci.org/github/OCA/management-system/jobs/661924975#L764). The problem is that PR #295 depends #293. Two modules interdependents in two independents PR. There is any guide to solve it?

[2020-03-13 19:47] max3903 commented on #262
@flachica Let's get #293 merged first, then rebase #295 and get it merged.

[2020-03-13 19:53] flachica commented on #262
@max3903 Do I have to wait for the merged to be approved or do I have to do something?

[2020-03-13 20:20] max3903 commented on #262
@flachica we need to wait 5 days or 3 reviewers.

[2020-03-16 10:38] flachica commented on #262
I migrate mgmtsystem_quality #296

[2020-03-16 14:48] flachica commented on #262
I migrate mgmtsystem_claim #314

[2020-03-17 07:08] flachica commented on #262
I migrate mgmtsystem_health_safety #300

[2020-03-17 07:26] flachica commented on #262
I migrate document_page_health_safety_manual #299

[2020-03-17 09:17] flachica opened #297 "[13.0] Multicompany rule fail"
Steps to reproduce the bug:

* Activate Multi company
* Install mgmtsystem, mgmtsystem_action, mgmtsystem_review, mgmtsystem_audit or mgmtsystem_nonconformity

Bug:

The related record to module is not visible. for example, the Management system object after install.

I will solve asap.

[2020-03-17 10:21] flachica commented on #297
Solved here #306

[2020-03-17 10:46] flachica commented on #262
I migrate mgmtsystem_environment #303

[2020-03-17 16:24] flachica commented on #262
I migrate document_page_environmental_aspect #319

[2020-03-17 16:35] flachica commented on #262
I migrate document_page_environment_manual <s>#302</s> #324

[2020-03-17 16:53] flachica commented on #262
I migrate mgmtsystem_info_security_manual <s>#305</s> #323. A rename was needed to mgmtsystem_information_security as say the field in res.config.setting model

[2020-03-18 12:56] #297 closed, assigned to nobody

[2020-03-27 14:45] sergiocorato opened #317 "Missing compute function `_compute_number_of_days_to_close`"
https://github.com/OCA/management-system/blob/b1c11b93d9b9fb253ae2976cf5269afa2dd775d0/mgmtsystem_nonconformity/models/mgmtsystem_nonconformity.py#L46

[2020-03-27 14:55] sergiocorato commented on #317
PR #318

[2020-04-01 07:56] flachica opened #321 "Can't delete Hazard"
The manager user does not have permissions to delete a hazard

PR #320

[2020-04-03 08:30] dreispt commented on #317
Fixed

[2020-04-03 08:30] #317 closed, assigned to nobody

[2020-04-03 13:28] #321 closed, assigned to nobody

[2020-05-30 08:47] idamonli opened #332 "[13.0]mgmtsystem_nonconformity~BUG~"
Create ~
![image](https://user-images.githubusercontent.com/13962741/83323986-babc8d00-a294-11ea-8ff3-a5c51bfd5af3.png)

![image](https://user-images.githubusercontent.com/13962741/83324050-11c26200-a295-11ea-86bd-0a9d39d52a00.png)

Who can help me?~~

[2020-06-09 11:59] Rad0van commented on #262
There are modules **mgmtsystem_action_audittrail, mgmtsystem_audit_audittrail, mgmtsystem_claim_audittrail, mgmtsystem_hazard_audittrail and mgmtsystem_review_audittrail** (generally mgmtsystem_*_audittrail) in 10.0 branch that require **audittrail** module. I cannot seem to find it anywhere. The closest to it is **auditlog** in **server-tools** repository. Are these still relevant?

[2020-06-09 12:03] Rad0van commented on #262
Also - what about **mgmtsystem_nonconformity_analytic, mgmtsystem_nonconformity_claim, mgmtsystem_nonconformity_deptm and mgmtsystem_nonconformity_project**?

[2020-06-23 07:44] mymage commented on #262
I migrated  mgmtsystem_nonconformity_hr #326

[2020-06-25 09:37] Rad0van commented on #262
@flachica I believe that res.config.setting model is generally wrong. See for example my #341 The modules references have the same name (document_page_environmental_*) since version 6.1 and since version 9.0 there is model present which in my opinion could not properly handle these as the names of the modules were always different. I guess the situation is very similar here.

[2020-07-30 07:17] FranciscoBigWings opened #353 "[V12] Error when saving procedures o work instructions"
Hello,

When trying to save those documents I get a restriction error from mail module.

"La operación no se puede completar: otro modelo necesita el registro que está siendo eliminado. Si es posible, archívelo en su lugar.
Modelo: Message (mail.message), Restricción: mail_message_parent_id_fkey"

Management system modules has been installed from first time in this Odoo V12, they havent been migra

[2020-08-03 14:55] FranciscoBigWings commented on #353
The "Procedures" and "Work instructions" can be created from the "Manuals" tab

In category field, choosing the one I want, it creates the documents. After you can edit and save the document without any problem from the procedures or work instructions menu but from those menus it is not possible to create the document

[2020-09-18 14:11] rizzopablo commented on #353
Same here, I didn't debug it yet but I have the same problem.

[2020-10-04 10:32] OCA-git-bot opened #359 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] document_page_environment_manual
- [x] document_page_environmental_aspect
- [x] document_page_health_safety_manual - By @mymage - #480
- [x] document_page_procedure
- [x] document_page_quality_manual
- [x] document_page_work_instruction
- [x] mgmtsystem
- [x] mgmtsystem_action
- [x] mgmtsyst

[2020-12-16 11:23] gokhandeveloper opened #363 "ISO 9001:2015"
Does this comply with ISO 9001:2015?
Also does the document management system have the ability to use custom sequence in documents?
For example,
AAA FILE PATH> AAA 101 - FILE.docx
AAA FILE PATH> AAA 102 - FILE2.docx
?

[2021-02-01 09:45] vincentlaurent commented on #363
I would say that it is perfect for the management of CAPA, complaints,... Regarding document management, I suggest to use more specialized solutions

[2021-02-13 02:53] dzungtran89 commented on #359
- `mgmtsystem`: migrated in https://github.com/OCA/management-system/pull/365
- `mgmtsystem_action`: migrated in https://github.com/OCA/management-system/pull/366
- `mgmtsystem_survey`: migrated in https://github.com/OCA/management-system/pull/367

[2021-02-22 11:36] dzungtran89 commented on #359
- document_page_quality_manual: migrated in https://github.com/OCA/management-system/pull/368
- document_page_procedure: migrated in https://github.com/OCA/management-system/pull/369
- document_page_work_instruction: migrated in https://github.com/OCA/management-system/pull/370
- mgmtsystem_manual: migrated in https://github.com/OCA/management-system/pull/371
- mgmtsystem_nonconformity: migrated i

[2021-03-06 18:49] mymage commented on #262
I migrate mgmtsystem_nonconformity_mrp from v11.0 (v12.0 PR #335 still waiting review) #374

[2021-05-07 08:59] D2O opened #377 "Odoo 14 - Quality Management System"
odoo 14 comunity on debian 10

Error on install :-

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 639, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 315, in _handle_exception
    rais

[2021-05-07 12:22] pedrobaeza commented on #377
Module is not migrated to that version.

[2021-05-07 12:22] #377 closed, assigned to nobody

[2021-05-28 14:30] anabeladamas opened #380 "[v13] mgmtsystem_claim.mgmtsystem_claims_form_view error"
When updating (-u all) database I get this error:
"Field 'claim_type' used in attributes must be present in view but is missing:
 - 'claim_type' in domain="[ '&','|',('team_ids', '=', team_id), ('case_default', '=', True), '|',('claim_type', '=', claim_type),('claim_common', '=', True)]""

commit 18fcc5902014ed75865d65823f8200e6d67081f7

[2021-05-28 14:40] #380 closed, assigned to nobody

[2021-07-14 19:12] iman-alhaddar opened #381 "Error while trying to create work instruction"
May someone help solve this issue:.

Something went wrong !

The requested operation ("read" on "Document Page" (document.page)) was rejected because of the following rules:
- document_page multi-company

Note: this might be a multi-company issue.

(Records: Work Instructions (id=4), User: Administrator (id=2))

Thanks in advance,

[2021-10-17 10:18] OCA-git-bot opened #384 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] document_page_health_safety_manual - By @mymage - #481
- [x] document_page_procedure
- [x] document_page_quality_manual
- [x] document_page_work_instruction
- [x] mgmtsystem
- [x] mgmtsystem_action
- [x] mgmtsystem_action_efficacy - By @mymage - #456
- [x] mgmtsystem_action_template - By @my

[2021-11-21 01:33] ivancandelas commented on #243
I think this issue has to be closed, it has no information.

[2021-11-21 10:41] #243 closed, assigned to nobody

[2021-12-17 15:51] jaenbox commented on #353
Apologies for my English.

**It is a bug that has not been fixed in several versions. mail_messages are being associated with a parent_id that is not correct.**

The problem is caused in the definition of the action of the procedure window, work instructions, etc ...

By including default_partner_id as context in window action. When saving document.page and creating the mail_message object it assi

[2022-01-12 10:43] AntoniRomera commented on #359
- mgmsystem_audit: #393
- mgmsystem_quality: #394
- mgmsystem_hazard_risk: #395
- mgmsystem_claim: #396
- document_page_environmental_aspect: #392

[2022-01-18 14:19] AntoniRomera commented on #359
- document_page_environment_manual: #398

[2022-01-21 20:05] mymage commented on #262
I migrate mgmtsystem_nonconformity_product #399

[2022-01-21 21:12] mymage commented on #262
I migrate mgmtsystem_action_template #400

[2022-04-07 17:40] selebrun opened #405 "Installed issue"
<!-- Provide a general summary of the issue in the Title above.
We are trying to install the Quality module: Quality Management System, in our Odoo community environment and it is presenting an error

## Module
 Quality Management System

## Describe the bug
RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/cache.py", line 85, in looku

[2022-04-07 19:39] #405 closed, assigned to nobody

[2022-05-17 09:59] yankinmax commented on #384
I'll migrate `mgmtsystem_nonconformity` https://github.com/OCA/management-system/pull/414

[2022-05-21 12:09] mymage commented on #262
I migrate mgmtsystem_partner #426

[2022-05-21 12:38] mymage commented on #262
I mygrate mgmtsystem_action_efficacy #429

[2022-05-22 14:13] mymage commented on #262
I mygrate mgmtsystem_nonconformity_type #430

[2022-05-22 15:15] mymage commented on #359
I migrate mgmtsystem_nonconformity_mrp #428

[2022-06-08 13:24] miquelrosell99 commented on #384
Hi! Isn't the audits module missing?

[2022-06-26 12:09] #92 closed, assigned to max3903

[2022-06-26 12:09] #112 closed, assigned to nobody

[2022-06-26 12:09] #125 closed, assigned to max3903

[2022-06-26 12:09] #126 closed, assigned to nobody

[2022-06-26 12:09] #127 closed, assigned to max3903

[2022-06-26 12:09] #128 closed, assigned to max3903

[2022-06-26 12:09] #129 closed, assigned to max3903

[2022-06-26 12:09] #138 closed, assigned to dreispt

[2022-07-03 12:10] #151 closed, assigned to nobody

[2022-07-03 12:10] #159 closed, assigned to max3903

[2022-07-03 12:10] #179 closed, assigned to nobody

[2022-07-03 12:10] #180 closed, assigned to nobody

[2022-07-10 12:10] #182 closed, assigned to nobody

[2022-07-17 12:09] #185 closed, assigned to nobody

[2022-07-29 11:39] foah opened #434 "Readonly state field on Nonconformity Stage"
Unable to change 'state' of a Nonconformity Stage, in my case (and i suppose for other also) it's a problem :
I add a new stage where i wont to see action plan, but the visibility of action plan depend of state

## Module
mgmtsystem_nonconformit

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
V12 and V13 at least

Steps to reproduce the behavior:
1. Create

[2022-08-07 12:09] #198 closed, assigned to nobody

[2022-08-07 12:09] #200 closed, assigned to max3903

[2022-08-14 12:10] #208 closed, assigned to ivantodorovich

[2022-08-14 12:10] #225 closed, assigned to ivantodorovich

[2022-08-14 12:10] #229 closed, assigned to nobody

[2022-08-21 12:09] #237 closed, assigned to nobody

[2022-08-21 12:09] #252 closed, assigned to nobody

[2022-08-28 12:09] #261 closed, assigned to max3903

[2022-08-28 12:09] #263 closed, assigned to max3903

[2022-08-28 12:09] #276 closed, assigned to nobody

[2022-09-04 12:11] #285 closed, assigned to nobody

[2022-09-18 12:11] #332 closed, assigned to nobody

[2022-09-23 01:16] camarfbi opened #441 "Problem in printing the manuals"

[2022-09-23 17:34] camarfbi commented on #441
Problem solved

[2022-09-23 17:34] #441 closed, assigned to nobody

[2022-09-25 12:12] #353 closed, assigned to nobody

[2022-09-25 12:12] #363 closed, assigned to nobody

[2022-09-25 12:12] #381 closed, assigned to nobody

[2022-10-03 16:25] sbidoul opened #442 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] document_page_environment_manual - By @FernandoRomera - #462
- [x] document_page_environmental_aspect - By @FernandoRomera - #463
- [x] document_page_health_safety_manual - By @mymage - #489
- [x] document_page_procedure - By @FernandoRomera - #464
- [x] document_page_quality_manual - By @Fe

[2022-10-24 14:23] #434 closed, assigned to nobody

[2022-11-06 18:43] mymage commented on #359
I migrate
- mgmtsystem_partner #445
- mgmtsystem_action_efficacy #446
- mgmtsystem_nonconformity_product #447
- mgmtsystem_nonconformity_product #448
- mgmtsystem_nonconformity_type #451
- document_page_health_safety_manual #480
- mgmtsystem_environment #482
- mgmtsystem_info_security_manual #484
- mgmtsystem_health_safety #487

[2022-11-16 21:45] mymage commented on #384
I'll migrate
- mgmtsystem_nonconformity_mrp #450
- mgmtsystem_action_template #452
- mgmtsystem_partner #453
- mgmtsystem_nonconformity_product #455
- mgmtsystem_action_efficacy #456
- mgmtsystem_nonconformity_type #460
- mgmtsystem_nonconformity_quality_control_oca #461
- document_page_health_safety_manual #481
- mgmtsystem_environment #483
- mgmtsystem_info_security_manual #485
- mgmtsystem_heal